.docs
  div&
    padding .4em
    > section
      padding .8rem 0
    .example
    .markup
    .usage
    .tag
      padding 2.6em 1.2em 1.2em 1.4em
      position relative
      margin 1rem 0
      &:after
        border-left .3em solid #8EA6E0
        position absolute
        padding-left 1em
        top .4rem
        left 0
    .example:after
      content "Example"
    .markup:after
      content "Markup"
    .usage:after
      content "Usage"
    .tag:after
      content "Tag"
.cross
  background-color #6CB3D3
  color #FFF
  padding 1em 0
  for i in 1 2 3 4 5 6
    .h{i}
    h{i}
      color #FFF !important