browsers = '-webkit-' '-moz-' '-ms-' '-o-' ''

cb(prop, args...)
  for i in browsers
    {i}{prop} args

border-radius(size, tb = false, rl = false)
  if tb
    if rl
      cb('border-'+tb+'-'+rl+'-radius', size)
    else
      cb('border-'+tb+'-left-radius', size)
      cb('border-'+tb+'-right-radius', size)
  else
    cb('border-radius', size)

#body
  width 100%

.super
  .mid
    padding 10em 0
    h1
    .sub
      text-align center
    h1
      font-size 4rem


@import docs
