<section class="fd">
  <h3 class="hr">Standard Button</h3>
  <div class="docs">
    <p>Standard buttons or links in button style</p>
    <div class="tag">
      <code>button</code> or <code>a</code> or <code>input[type="button"]</code> or <em class="fd lowlight">any one you like</em>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>button.fd</code> or <code>.fd &gt; button</code></li>
        <li><code>a.fd.button</code> or <code>.fd &gt; a.button</code></li>
        <li><code>input[type="button"].fd</code> or <code>.fd &gt; input[type="button"]</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
        <li><span class="fd h6">on active :</span> <code>.active</code></li>
      </ul>
    </div>
    <div class="example">
      <button class="fd s">Button</button>
      <a class="fd s button lowlight">Lowlight</a>
      <input class="fd highlight" value="Highlight" type="button" />
      <span class="fd"><button class="ok active m">Ok</button></span>
      <span class="fd"><a class="button l warning">Warning</a></span>
      <div class="fd button xl danger">Danger</div>
      <span class="fd button xxl info">Info</span>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Icon Button</h3>
  <div class="docs">
    <p>Buttons with icon. <q><a href="icon">see all icons</a></q></p>
    <div class="tag">
      <code>button</code> or <code>a</code> or <em class="fd lowlight">any one you like ( except input )</em>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><span class="fd h6">only icon :</span> <code>.icon-*</code> <em>with empty content</em></li>
        <li><span class="fd h6">before the content :</span> <code>.icon-*</code></li>
        <li><span class="fd h6">after the content :</span> <code>.icon-*.after</code></li>
        <li><span class="fd h6">both side :</span> <code>.fd.icon-*.after &gt; .icon-*</code> or <code>.fd &gt; .icon-*.after &gt; .icon-*</code></li>
      </ul>
    </div>
    <div class="example">
      <div class="fd">
        <a class="button icon-weibo s"></a>
        <button class="icon-weibo lowlight">Weibo</button>
        <div class="button icon-weibo after highlight m">Weibo</div>
        <span class="fd"><a class="button icon-github ok l"></a></span>
        <span class="fd"><button class="icon-flickr warning xl">Flickr</button></span>
        <span class="button icon-facebook after info xxl">Facebook</span>
      </div>
      <p>
        <button class="fd icon-angle-double-down after">
          <span class="icon-folder">folder</span>
        </button>
        <span class="fd">
          <a class="button icon-angle-double-up after">
            <span class="fd icon-folder">folder</span>
          </a>
        </span>
      </p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Image Button</h3>
  <div class="docs">
    <div class="tag">
      <code>img</code>
    </div>
    <div class="usage">
      <code>img.fd.button</code> or <code>.fd &gt; img.button</code>
    </div>
    <div class="example">
      <img src="http://www.gravatar.com/avatar/ed3f2eabc3ee38ede847206252e1e9df?s=90" alt="avatar" class="fd button s">
      <img src="http://www.gravatar.com/avatar/ed3f2eabc3ee38ede847206252e1e9df?s=90" alt="avatar" class="fd button">
      <img src="http://www.gravatar.com/avatar/ed3f2eabc3ee38ede847206252e1e9df?s=90" alt="avatar" class="fd button m">
      <img src="http://www.gravatar.com/avatar/ed3f2eabc3ee38ede847206252e1e9df?s=90" alt="avatar" class="fd button l">
      <img src="http://www.gravatar.com/avatar/ed3f2eabc3ee38ede847206252e1e9df?s=90" alt="avatar" class="fd button xl">
      <img src="http://www.gravatar.com/avatar/ed3f2eabc3ee38ede847206252e1e9df?s=90" alt="avatar" class="fd button xxl">
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Labeled Button</h3>
  <div class="docs">
    <p>Buttons with a labeled icon</p>
    <div class="tag">
      <code>button</code> or <code>a</code> or <em class="fd lowlight">any one you like ( except input )</em>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><span class="fd h6">on left :</span> <code>.labeled</code></li>
        <li><span class="fd h6">on right :</span> <code>.labeled.after</code></li>
      </ul>
    </div>
    <div class="example">
      <a class="fd button s icon-weibo labeled">Weibo</a>
      <button class="fd lowlight icon-weibo labeled after">Weibo</button>
      <span class="fd"><a class="button highlight icon-weibo labeled m">Weibo</a></span>
      <span class="fd"><button class="l ok icon-weibo labeled after">Weibo</button></span>
      <div class="fd button xl warning icon-weibo labeled">Weibo</div>
      <span class="fd button xxl danger icon-weibo labeled after">Weibo</span>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Button Group</h3>
  <div class="docs">
    <div class="tag">
      <code>div</code> or <code>span</code> or <em class="fd lowlight">any one you like</em>
    </div>
    <div class="usage">
      <code>.buttons &gt; button / .button / input[type="button"]</code>
    </div>
    <div class="example">
      <div class="fd buttons l">
        <a class="button">One</a>
        <a class="button active">Two</a>
        <a class="button">Three</a>
      </div>
      <div class="fd buttons m">
        <input type="button" value="One" class="active">
        <input type="button" value="Two">
        <input type="button" value="Three">
      </div>
      <div class="fd buttons">
        <button class="icon-align-left"></button>
        <button class="icon-align-center"></button>
        <button class="icon-align-right"></button>
      </div>
      <div class="fd buttons s">
        <a class="button icon-font"></a>
        <a class="button icon-bold"></a>
        <a class="button icon-italic"></a>
        <a class="button icon-text-height"></a>
        <a class="button icon-text-width"></a>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Button Group with Toggle</h3>
  <div class="docs">
    <div class="tag">
      <code>div</code> or <code>span</code> or <em class="fd lowlight">any one you like</em>
    </div>
    <div class="usage">
      <code>.buttons &gt; button / .button + button.after / .button.after</code>
    </div>
    <div class="example">
      <div class="fd buttons">
        <a class="button icon-sort-alt-up"></a>
        <button class="after"></button>
      </div>
      <div class="fd buttons">
        <button class="icon-bug"></button>
        <a class="button after icon-angle-up"></a>
      </div>
      <div class="fd buttons">
        <button class="icon-mail">Inbox</button>
        <span class="fd buttons">
          <input type="button" class="icon-folder" value="Folder">
          <button class="after"></button>
        </span>
        <button class="icon-trash">Trash</button>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>