<section class="fd">
  <h3 class="hr">Icons</h3>
  <div class="docs">
    <p>Powered by <a href="http://fontello.com">fontello.com</a></p>
    <div class="usage">
      <ul class="fd">
        <li><span class="fd h6">before the content :</span> <code>.fd.icon-*</code> or <code>.fd &gt; .icon-*</code></li>
        <li><span class="fd h6">after the content :</span> <code>.fd.icon-*.after</code> or <code>.fd &gt; .icon-*.after</code></li>
      </ul>
    </div>
    <div class="example">
      <p class="fd"><a class="icon-cog">Config</a></p>
      <p class="fd icon-bookmark after">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">All Icons</h3>
  <div class="docs">
    <div class="example">
      <ul class="fd h">
        <li ng-repeat="(name, char) in icons"><button class="fd icon-{{name}}"></button>icon-{{name}} : {{char}}</li>
      </ul>
    </div>
  </div>
</section>