<section class="fd">
  <h3 class="hr">Tips</h3>
  <div class="fd docs">
    <div class="usage">
      <ul class="fd">
        <li><code>.fd.pointing</code> or <code>.fd &gt; .pointing</code></li>
        <li><span class="fd h6">Directions :</span> <code>.south</code> <code>.north</code> <code>.east</code> <code>.west</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <div class="fd pointing s">
        Pointing nowhere.
      </div>
      <div class="fd pointing north m">
        Pointing north.
      </div>
      <div class="fd pointing north east">
        Pointing northeast.
      </div>
      <div class="fd pointing east l lowlight tight">
        Pointing east.
      </div>
      <div class="fd pointing south xl highlight narrow">
        Pointing south.
      </div>
      <div class="fd pointing south east xxl ok">
        Pointing southeast.
      </div>
      <div class="fd pointing south west warning broad">
        Pointing southwest.
      </div>
      <p class="fd pointing west danger wild">
        Pointing west.
      </p>
      <span class="fd pointing north west info full">
        Pointing northwest.
      </span>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Modal</h3>
  <div class="fd docs">
    <div class="usage">
      <ul class="fd">
        <li><code>.modal.fd</code> or <code>.fd &gt; .modal</code></li>
        <li><span class="fd h6">Title :</span> <code>.modal &gt; .title</code></li>
        <li><span class="fd h6">Content :</span> <code>.modal &gt; .content</code></li>
        <li><span class="fd h6">Tools :</span> <code>.modal &gt; .tools</code></li>
        <li><span class="fd h6">6 widths :</span> <code>.tight</code> <code>.narrow</code> default <code>.broad</code> <code>.wild</code> <code>.full</code></li>
      </ul>
    </div>
    <div class="example">
      <div class="fd modal">
        <div class="title">Titling words here...</div>
        <div class="content">Do you want to change that thing to something else?</div>
        <div class="tools"><a href="#ok" class="fd button">Yes</a> <a href="#abc" class="close">No</a></div>
      </div>
      <div class="fd divider">Title Less</div>
      <div class="fd modal wild">
        <div class="content">Do you want to change that thing to something else?</div>
        <div class="tools"><a href="#ok" class="fd button">Yes</a> <a href="#close" class="fd button lowlight close">No</a></div>
      </div>
      <div class="fd divider">Modified</div>
      <div class="fd modal full">
        <div class="title danger">Be careful, your data will be completely removed !</div>
        <div class="content row">
          <div class="col two"><h3 class="fd highlight">Fondant</h3></div>
          <div class="col ten">
            <h5 class="fd">Are you sure you want to ...?</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          </div>
        </div>
        <div class="tools align-center"><a href="#ok" class="fd button ok">Sure</a><span class="fd button lowlight close">Close</span></div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <div class="fd docs">
    <h3 class="hr">Alert</h3>
    <div class="tag">
      <code>.alert</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>.fd.alert &gt; * + .tools</code> or <code>.fd &gt; .alert &gt;  * + .tools</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <div class="fd alert s">
        <div>Do you want to change that thing to something else?</div>
        <div class="tools"><a href="#ok" class="fd button ok">OK</a><a href="#no" class="fd button">NO</a><a href="" class="close"></a></div>
      </div>
      <div class="fd alert lowlight">
        <div>Do you want to change that thing to something else?</div>
        <div class="tools"><a href="#ok" class="fd button ok">OK</a><a href="" class="fd button lowlight close">Cancel</a></div>
      </div>
      <div class="fd alert highlight m">
        <div>Do you want to change that thing to something else?</div>
        <div class="tools"><a href="text">see normal alert in text section</a><a href="" class="close"></a></div>
      </div>
      <div class="fd alert ok l">
        <div>Do you want to change that thing to something else?</div>
        <div class="tools"><a href="" class="close"></a></div>
      </div>
      <div class="fd alert warning xl">
        <div>Do you want to change that thing to something else?</div>
        <div class="tools"><a href="" class="close"></a></div>
      </div>
      <div class="fd alert danger xxl">
        <div>Do you want to change that thing to something else?</div>
        <div class="tools"><a href="" class="close"></a></div>
      </div>
      <div class="fd alert info">
        <div>Do you want to change that thing to something else?</div>
        <div class="tools"><a href="" class="close"></a></div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>

</section>
