<section class="fd">
  <h3 class="hr">Tab</h3>
  <div class="fd docs">
    <p>A tab</p>
    <div class="tag">
      <code>.tab</code>
    </div>
    <div class="usage">
      <code>.tab.fd</code> or <code>.fd &gt; .tab</code>
    </div>
    <div class="example">
      <ul class="fd tab">
        <li class="active"><a href="">Active</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
        <li class="disabled"><a href="">disabled</a></li>
      </ul>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>
 <section class="fd">
  <h3 class="hr">Horizontal modifiers</h3>
  <div class="fd docs">
    <p>tab-flip</p>
    <div class="example">
    <div class="fd row">
      <div class="col six">
        <ul class="fd tab tab-flip">
          <li class="active"><a href="">Active</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
          <li class="disabled"><a href="">disabled</a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p>Center tabs</p>
    <div class="example">
    <div class="fd row">
      <div class="col six">
        <div class="fd tab-center">
          <ul class="tab">
            <li class="active"><a href="">Active</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>
 <section class="fd">
  <h3 class="hr">Vertical modifiers</h3>
  <div class="fd docs">
    <p>tab-left</p>
    <div class="example">
    <div class="fd row">
      <div class="col six">
        <ul class="fd tab tab-left">
          <li class="active"><a href="">Active</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p>tab-right</p>
    <div class="example">
    <div class="fd row">
      <div class="col six">
        <ul class="fd tab tab-right">
          <li class="active"><a href="">Active</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>
 <section class="fd">
  <div class="fd docs">
    <p><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></p>
    <div class="example">
      <ul class="fd tab">
          <li class="active"><a href="">Active</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
          <li class="disabled"><a href="">disabled</a></li>
        </ul>
      <ul class="fd tab lowlight">
        <li class="active"><a href="" class="lowlight">Active</a></li>
        <li><a href="" class="lowlight">item</a></li>
        <li><a href="" class="lowlight">item</a></li>
        <li class="disabled"><a href="">disabled</a></li>
      </ul>
      <ul class="fd tab highlight">
        <li class="active"><a href="" class="highlight">Active</a></li>
        <li><a href="" class="highlight">item</a></li>
        <li><a href="" class="highlight">item</a></li>
        <li class="disabled"><a href="">disabled</a></li>
      </ul>
      <ul class="fd tab ok">
        <li class="active"><a href="" class="ok">Active</a></li>
        <li><a href="" class="ok">item</a></li>
        <li><a href="" class="ok">item</a></li>
        <li class="disabled"><a href="">disabled</a></li>
      </ul>
      <ul class="fd tab warning">
        <li class="active"><a href="" class="warning">Active</a></li>
        <li><a href="" class="warning">item</a></li>
        <li><a href="" class="warning">item</a></li>
        <li class="disabled"><a href="">disabled</a></li>
      </ul>
      <ul class="fd tab danger">
        <li class="active"><a href="" class="danger">Active</a></li>
        <li><a href="" class="danger">item</a></li>
        <li><a href="" class="danger">item</a></li>
        <li class="disabled"><a href="">disabled</a></li>
      </ul>
      <ul class="fd tab info">
        <li class="active"><a href="" class="info">Active</a></li>
        <li><a href="" class="info">item</a></li>
        <li><a href="" class="info">item</a></li>
        <li class="disabled"><a href="">disabled</a></li>
      </ul>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>
