/***** Functions *****/
// button selector
btn(n = 3)
  if n == 1
    .button
      {block}
  else if n == 2
    .button
    button
      {block}
  else
    .button
    button
    input[type="button"]
      {block}

// colorful button
button-color(state)
  colorful-invert(state)
  &:hover
  &:focus
  &.active
    background-color: darken(@background-color, state['mask'])
  &:active
    box-shadow: inset .05em .05em .8em .1em darken(darken(@background-color, state['mask']), 25%)

/***** Styles *****/
+btn()
  +fd()
    border-width 1px
    border-style solid
    border-radius .2rem
    display inline-block
    font-family base-family
    font-size 1em
    line-height 2.2em
    padding 0 .9em
    vertical-align middle
    cursor pointer
    margin 2px
    user-select none
    white-space nowrap
    height 2.2em
    box-sizing border-box
    &:focus
      text-decoration none
      outline 0
    colorful(button-color)
+btn(2)
  +fd()
    +icon-class(\&)
      &:empty
        padding 0 .6em
        &:before
          margin auto .2em
      &:not(.after):before
        margin-left 0
      &.after:after
        margin-right 0
      +icon-class(\>)
        &:before
          margin-left 0
      &.labeled
        position relative
        padding 0 .9em 0 3.3em
        box-sizing content-box
        &:before
        &.after:after
          position absolute
          top 0
          width 2.4em
          background-color rgba(dark-black, .15)
          line-height 2.2em
          height 2.2em
          display inline-block
          overflow hidden
        &:before
          left 0
          border-right 1px solid rgba(dark-black, .17)
        &.after
          padding 0 3.3em 0 .9em
          &:after
            right 0
            border-left 1px solid rgba(dark-black, .17)

+btn(1)
  +fd(img)
    padding 0 !important
    height 2em !important
    width 2em !important

.buttons
  +fd()
    display inline-block
    +btn()
      border-radius 0
      border-left-width 0
      float left
      margin 0
      &:first-child
        border-left-width 1px
        border-top-left-radius .2rem
        border-bottom-left-radius .2rem
      &:last-child
        border-top-right-radius .2rem
        border-bottom-right-radius .2rem
    +btn(2)
      &.after
        padding-left .6em
        padding-right .6em
        +icon-class(\&)
          &:after
            margin 0
        &:empty
          &:after
            font-family "fontello"
            font-style normal
            font-weight normal
            font-variant normal
            speak none
            width .6em
            line-height 1em
            text-decoration none
            content '%s' % icons['angle-down']
    .buttons
      float left
      +btn()
        &:first-child
        &:last-child
          border-radius 0
          border-left-width 0
    sizes(\&, ' > button')
    sizes(\&, ' > .button')
    sizes(\&, ' > input[type="button"]')
