// base boxes
aside
header
section
article
nav
footer
div
  +fd()
    &.light
      background-color base-white
    &.dark
      background-color light-gray

// default section
section
.section
  +fd()
    padding .4rem

// border for boxes
.border
  +fd()
    border 1px solid base-gray

// panel style
div.panel
  +fd()
    background-color base-white
    border 1px solid dark-gray
    border-radius .4em
    margin-bottom 1rem
    > header
    > .header
      background-color light-gray
      border-bottom 1px solid dark-gray
      border-radius .4em .4em 0 0
      > *
        padding 0 .8rem
        margin 0
        line-height 2em
    > .content
      padding .8rem
// div.segment
//   background-color base-white
//   border 1px solid dark-gray
//   border-radius .4em
// // p&
// & > p
//   line-height 1.6em
//   margin .8em 0

// main boxes be center
.mid
  +fd()
    margin auto

// cross banner boxes
.cross
  +fd()
    clear both
    width 100%
    padding 1em 0
    color base-white
    for i in 1 2 3 4 5 6
      .h{i}
      h{i}
        color base-white !important


@media (min-width: 768px)
  .mid
    width 756px
@media (min-width: 992px)
  .mid
    width 960px
@media (min-width: 1200px)
  .mid
    width 1176px