.examples
  div&
    padding .4em
    > section
      padding .8rem 0
      dl
        border-left .3em solid #8EA6E0
        padding-left 1em
      .example
        border 1px solid base-border
        border-radius(4px)
        background-color base-white
        position relative
        padding 40px 20px 15px 20px
        margin 1rem 0
        &:after
          content "Example"
          color #CDCDCD
          position absolute
          top .4rem
          left .6rem
