/***** Functions *****/
input-sizes(i)
  height unit((8 + 2 * i)/10, em)
  width unit((8 + 2 * i)/10, em)
input-colorful(state)
  &:before
    border-color: (lightness(state['color']) > 80% ? lighten(state['invert-color'], 20%) : state['color'])

/***** Styles *****/
// base styles
form
fieldset
textarea
input:not([type="button"])
select
  +fd()
    outline none

    box-sizing border-box

// reset fieldset
fieldset
  +fd()
    clear both
    margin-bottom 1em
    border none
    padding 0
    margin .4em 0
    -webkit-margin-start 0
    -webkit-margin-end 0
    -webkit-padding-before 0
    -webkit-padding-start 0
    -webkit-padding-end 0
    -webkit-padding-after 0
    legend
      font-size .8rem
      padding 0
      text-shadow 1px 1px 0 rgba(dark-black, .3)
      -webkit-padding-start 0
      -webkit-padding-end 0
      &.divider
      &.hr
        margin 0 auto
        min-width 100%

// text fields
select
textarea
input[type="text"]
input[type="number"]
input[type="password"]
input[type="email"]
input[type="search"]
input[type="url"]
input[type="tel"]
input[type="time"]
input[type="date"]
input[type="datetime"]
input[type="datetime-local"]
input[type="week"]
input[type="month"]
  +fd()
    margin 0
    padding .3em .4em
    height 2em
    background-color base-white
    border 1px solid rgba(dark-black, .15)
    border-radius .2rem
    color rgba(dark-black, .7)
    width 55%
    font-size 1em
    transition all 0.2s linear 0s
    &:focus:not([readonly])
      border-color: states['highlight']['border-color']
    &.danger
      background-color: states['danger']['bg-color']
      border-color: states['danger']['border-color']
      color: states['danger']['color']
    &.ok
      background-color: states['ok']['bg-color']
      border-color: states['ok']['border-color']
      color: states['ok']['color']
    &.warning
      background-color: states['warning']['bg-color']
      border-color: states['warning']['border-color']
      color: states['warning']['color']
    widths()

// input fieldset disabled
input[disabled]
fieldset[disabled]
  +fd()
    cursor not-allowed
    background-color dark-gray
    opacity 1

input[readonly]
  +fd()
    cursor default

// base radio and checkbox 
label
input[type="radio"]
input[type="checkbox"]
  +fd()
    margin 0
    cursor pointer
    vertical-align middle

// label > input
label
  +fd()
    > input[type="radio"]
    > input[type="checkbox"]
      @extend label.fd
      margin -.1em 0 0 0
    sizes(\&, '> input[type="radio"]')
    sizes(\&, '> input[type="checkbox"]')

// file
input[type="file"]
  +fd()
    display block

// textarea
textarea
  +fd()
    line-height 1.2em
    height 6.6em
  
// select
select[multiple]
select[size]
  +fd()
    height auto
 
// fondant style radio and checkbox
input[type="radio"]
input[type="checkbox"]
  &.fd.option
  .fd.option > &
  .fd > .option > &
  .fd > &.option
    display none
input[type="radio"]
input[type="checkbox"]
  &.fd.option
  .fd.option > &
  .fd > .option > &
  .fd > &.option
    & + label
      @extend label.fd
      position relative
      height 1em
      line-height 1em
      padding 0 0 0 1.4em
      &:before
        width 1.2em
        height 1.2em
        position absolute
        left 0
        top 0
        line-height 1em
        text-align center
        background base-white
        transition background-color .3s ease
        box-sizing border-box
        border-width .1em
        border-style solid
        box-shadow inset 0 .1em .2em 0 rgba(dark-black, .3), 0 .1em 0 0 rgba(base-white, .8)
    & + label.toggle
      padding 0 1.4em 0 0
      &:before
        right 0
        left inherit
  .fd.toggle.option > &
  .fd > .option.toggle > &
    & + label
      @extend input[type="radio"].fd.option + label.toggle
  .fd > & + label.toggle
      @extend input[type="radio"].fd.option + label.toggle
input[type="radio"]
  &.fd.option
  .fd.option > &
  .fd > .option > &
  .fd > &.option
    & + label:before 
      border-radius 50%
      content ' '
    &:checked + label:before
      content '\2022'
input[type="checkbox"]
  &.fd.option
  .fd.option > &
  .fd > .option > &
  .fd > &.option
    & + label:before 
      border-radius .2rem
      content ' '
    &:checked + label:before
      content '\2713'

label.option
  +fd()
    input[type="radio"]
    input[type="checkbox"]
      & + span
        @extend input[type="radio"].fd.option + label
    input[type="radio"]
      & + span:before
        @extend input[type="radio"].fd.option + label:before
      &:checked + span:before
        @extend input[type="radio"].fd.option:checked + label:before
    input[type="checkbox"]
      & + span:before
        @extend input[type="checkbox"].fd.option + label:before
      &:checked + span:before
        @extend input[type="checkbox"].fd.option:checked + label:before
label.option.toggle
  +fd()
    input[type="radio"]
    input[type="checkbox"]
      & + span
        @extend input[type="radio"].fd.option + label.toggle

label.fd.option
  colorful(input-colorful, \&)
.fd.option
.fd > label.option
label.fd.option > span

.form-icon
  +fd()
    display inline-block
    max-width 100%
    position relative
    +icon-class(\>)
      position absolute
      text-align center
      left 0
      top 50%
      margin-top -10px
      width 30px
      color rgba(base-black, .5)
    .icon
      padding-left 25px !important
      &:focus ~ 
        +icon-class()
          color rgba(base-black, .9)

.input-prepend
.input-append
  +fd()
    display inline-block
    vertical-align middle
    white-space nowrap
    clear both
    .add
      background-color rgba(base-black, .1)
      border 1px solid rgba(dark-black, .15)
      display inline-block
      font-weight normal
      min-width 10px
      padding .34em .4em
      text-align center
      text-shadow 0 1px 0 base-white
      width auto
      vertical-align top
      height 1.2em
      line-height 1.2em

.input-append
  +fd()
    .add
      margin-left -.6rem
      border-top-right-radius .2rem
      border-bottom-right-radius .2rem
    input
      position relative
      border-top-right-radius 0
      border-bottom-right-radius 0
    &.input-prepend
      border-radius 0

.input-prepend
  +fd()
    .add
      margin-right -.6rem
      border-top-left-radius .2rem
      border-bottom-left-radius .2rem
    input
      position relative
      border-top-left-radius 0
      border-bottom-left-radius 0
