e_n_12 = {one: 1, two: 2, three: 3, four: 4, five: 5, six: 6, seven: 7, eight: 8, nine: 9, ten: 10, eleven: 11, twelve: 12}
.fd .row
.fd.row
  width 100%
  display table
  &:before
  &:after
    content " "
    clear both
  .row
    width auto
  .col
    padding 1% 1.5%
    display table-cell
  for key,value in e_n_12
    &.{key}
      > .col
        vertical-align middle
        width unit(100/value, "%")
  &.block
    display block
    > .col
      display block
      float left
      for key,value in e_n_12
        &.{key}
          width unit(100/12*value, "%")