img
  +fd()
    height auto
    max-width 100%
    &.right
      float right
      margin 1em 0 1em 1em
    &.left
      float left
      margin 1em 1em 1em 0
    &.s
      width 8em
    &.m
      width 16em
    &.l
      width 26em
    &.rounded
      border-radius .4em
    &.circular
      border-radius 50%