.label
  +fd()
    display inline-block
    vertical-align middle
    background-color light-gray
    border 1px solid base-black
    padding .4em .8em
    color rgba(base-black, .65)
    font-weight normal
    border-radius .2rem
    box-sizing border-box
    font-size .9rem
    margin-left .2em
    &.danger
      background-color: states['danger']['bg-color']
      border-color: states['danger']['border-color']
      color: states['danger']['invert-color']
    &.ok
      background-color: states['ok']['bg-color']
      border-color: states['ok']['border-color']
      color: states['ok']['invert-color']
    &.warning
      background-color: states['warning']['bg-color']
      border-color: states['warning']['border-color']
      color: states['warning']['invert-color']

.pointing
  +fd()
    &.label
      position relative
      margin-top 1em
      &:before
        position: absolute
        content: ""
        width .6em
        height .6em
        background-image none
        background-color light-gray
        transform rotate(45deg)
        z-index 2
        transition background 0.1s linear
    &.above
      &.label
        margin-top .5em
        &:before
          margin-left -.3em
          top -.3em
          left 50%
    &.lefts
      &.label
        margin-top 0em
        margin-left .3em
        &:before
          margin-top -.3em
          bottom auto
          right auto
          top 50%
          left -.3em
    &.rights
      &.label
        margin-top 0em
        margin-right .3em
        &:before
          margin-top -.3em
          bottom auto
          right -.3em
          top 50%
          left auto
    &.below
      &.label
        margin-top 0em
        margin-bottom .5em
        &:before
          margin-top -.3em
          bottom -.3em
          right auto
          top auto
          left 46%
    &.danger
      &.label
        background-color: states['danger']['color']
        color base-white !important
        &:before
          background-color: states['danger']['color']
    &.warning
      &.label
        background-color: states['warning']['color']
        color base-white !important
        &:before
          background-color: states['warning']['color']
    &.ok
      &.label
        background-color: states['ok']['color']
        color base-white !important
        &:before
          background-color: states['ok']['color']
        
        
          

