/***** Functions *****/
colorful-menu(state)
  &
  > * > *
  .dropdown .menu
  .dropdown .menu > * > *
    text-color(state)

/***** Styles *****/
.menu
  +fd()
    margin 0
    background-color base-white
    font-weight normal
    box-shadow 0px 0px 0px 1px rgba(dark-black, .1);
    border-radius .2rem
    list-style none
    &:before
    &:after
      content "."
      display block
      height 0
      clear both
      visibility hidden
    >
      :first-child
        > :first-child
          border-radius .2rem 0 0 .2rem
      :last-child
        > :first-child
          border-radius 0 .2rem .2rem 0
      li
      .item
        user-select none
        box-sizing border-box
        transition opacity .2s ease,background .2s ease,box-shadow .2s ease
        float left
        margin 0
        white-space nowrap
        &:first-child
          border-left none
        >
          span
          a
            padding .8em 1em
            display inline-block
          a:hover
            cursor pointer
            background-color light-gray
        &.disabled >
          a
          span
            cursor not-allowed
            color dark-gray !important
        &.active
          >
            span
            a
              background-color light-gray
              box-shadow 0em .2em 0em inset
      .right
        border-left none
      .item ~ .item
      li ~ li
        border-left 1px solid dark-gray
    &.v
      width 13em
      >
        li
        .item
          display block
          width 100%
          >
            span
            a
              width 100%
              box-sizing border-box
        .item ~ .item
        li ~ li
          border-top 1px solid dark-gray
          border-left none
        :first-child
          > :first-child
            border-radius .2em .2em 0 0
        :last-child
          > :first-child
            border-radius 0 0 .2em .2em
      &.full
        width 100%
    colorful(colorful-menu)
.menu
  +fd()
    > .dropdown
      position relative
      z-index 999
      > .menu
        position absolute
        top 90%
        width auto !important
    &.v
      > .dropdown
        > .menu
          left 95%
          top 0
