// top nav
.top
  +fd()
    padding 0 \!important
    height 4rem
    .menu
      list-style-type none
      margin 0
      padding 1rem 0
      li
        display inline-block
        fr(1.2)
        padding 0 1em
        &:first-child
          padding-left 0
    .brand
      a
        color base-highlight
        fr(1.4)
      &.logo
        text-indent 100% // to do 完成图片logo的样式
