/***** Functions *****/
pointing-colorful(state)
  colorful-invert(state)
  box-shadow: 0px 1px 2px rgba(state['border-color'], .8)
  &:before
    background-color: state['color']
    box-shadow: 1px 1px 0 rgba(state['border-color'], 1)

/***** Styles *****/
// tips
.pointing
  +fd()
    display block
    position relative
    border-width 1px
    border-style solid
    padding 1em
    border-radius .2rem
    margin 1em
    &:before
      position absolute
      width 1em
      height 1em
      background-image none
      z-index 2
      box-sizing border-box
    &.south
      &:before
        content ""
        bottom -.5em
        margin-left -.5em
        left 50%
        transform rotate(45deg) !important
      &.east:before
        margin-left -2em
      &.west:before
        left 1.5em
    &.north
      &:before
        content ""
        top -.46em
        left 50%
        transform rotate(225deg) !important
      &.east:before
        @extend .pointing.fd.south.east:before
      &.west:before
        left 1em
    &.east:before
      content ""
      left 100%
      margin-left -.52em
      transform rotate(-45deg)
    &.west:before
      content ""
      left -.47em
      transform rotate(135deg)
    colorful(pointing-colorful)
    widths()

.modal
  +fd()
    text-align left
    width 90%
    background-color base-white
    border: 1px solid dark-gray
    border-radius 5px
    user-select text
    .close
      float right
      font-size 1.2rem
      line-height 1
      text-shadow 0 1px 0 base-white
      opacity .2
      font-style normal
      cursor pointer
      position relative
      right .8em
      top .8em
      &:hover
        opacity 1
    >.header
      margin 0
      padding 1.5rem 2rem
      font-size 1.2em
      font-weight 700
      border-radius .325em .325em 0 0
      line-height 1
    >.content
      display table
      width 100%
      position relative
      padding 2em
      background-color light-gray
      box-sizing border-box
      >.left
        display table-cell
        padding-right 1.5%
        min-width 25%
      >.right
        display table-cell
        padding-left 1.5%
        vertical-align top
        .header
          font-size 1.2em
    >.actions
      padding .8rem .8rem
      text-align right