.popup
  +fd()
    position relative
    border 1px solid rgba(dark-black, .1)
    max-width 250px
    background-color base-white
    padding .8em 1.2em
    font-size 0.875rem
    font-weight normal
    font-style normal
    color rgba(dark-black, .7)
    border-radius .2rem
    box-shadow 0px 1px 2px rgba(dark-black, .1)
    margin 0
    &:before
      position absolute
      content ""
      width .75em
      height .75rem
      background-image none
      background-color base-white
      transform rotate(45deg)
      z-index 2
      box-sizing border-box
      box-shadow 1px 1px 1px rgba(dark-black, .1)
    &.bottoms
      margin .75em 0 0
      &.centers
        &:before
          margin-left -.4em
          top -.4em
          left 50%
          right auto
          bottom auto
          box-shadow -1px -1px 1px rgba(dark-black, .2)
      &.ok
        &:before
          box-shadow: -1px -1px .1px states['ok']['border-color']
      &.danger
        &:before
          box-shadow: -1px -1px .1px states['danger']['border-color']
      &.warning
        &:before
          box-shadow: -1px -1px .1px states['warning']['border-color']
    &.tops
      margin 0 0 .75em
      &.centers
        &:before
          top auto
          right auto
          bottom -.4em
          left 50%
          margin-left -.4em
    &.rights
      &.bottoms
        margin-right -2em
        &:before
          top -.4em
          right 1em
          bottom auto
          left auto
          margin-left 0
          box-shadow -1px -1px .1px rgba(dark-black, .2)
      &.ok
        &:before
          box-shadow: -1px -1px .1px states['ok']['border-color']
      &.danger
        &:before
          box-shadow: -1px -1px .1px states['danger']['border-color']
      &.warning
          &:before
            box-shadow: 1px -1px .1px states['warning']['border-color']
      &.centers
        margin 0 .75em 0 0
        &:before
          top 50%
          right -.35em
          bottom auto
          left auto
          margin-top -.4em
          box-shadow 1px -1px 1px rgba(dark-black, .2)
        &.ok
          &:before
            box-shadow: 1px -1px .1px states['ok']['border-color']
        &.danger
          &:before
            box-shadow: 1px -1px .1px states['danger']['border-color']
        &.warning
          &:before
            box-shadow: 1px -1px .1px states['warning']['border-color']
      &.tops
        margin-right -2em
        &:before
          bottom -.4em
          right 1em
          top auto
          left auto
          margin-left 0
        &.ok
          &:before
           box-shadow: 1px 1px .1px states['ok']['border-color']
        &.danger
          &:before
           box-shadow: 1px 1px .1px states['danger']['border-color']
        &.warning
          &:before
           box-shadow: 1px 1px .1px states['warning']['border-color']
    &.lefts
      &.bottoms
        margin-left -2em
        &:before
          top -.4em
          left 1em
          right auto
          bottom auto
          margin-left 0
          box-shadow -1px -1px 1px rgba(dark-black, .2)
        &.ok
          &:before
            box-shadow: -1px -1px .1px states['ok']['border-color']
        &.danger
          &:before
            box-shadow: -1px -1px .1px states['danger']['border-color']
        &.warning
          &:before
            box-shadow: -1px -1px .1px states['warning']['border-color']
      &.tops
        margin-left -2em
        &:before
          bottom -.4em
          left 1em
          top auto
          right auto
          margin-left 0      
      &.centers
        margin 0 0 0 .75em
        &:before
          top 50%
          left -.35em
          bottom auto
          right auto
          margin-top -.4em
          box-shadow -1px 1px 1px rgba(dark-black, .2)
        &.ok
          &:before
            box-shadow: -1px 1px .1px states['ok']['border-color']
        &.danger
          &:before
            box-shadow: -1px 1px .1px states['danger']['border-color']
        &.warning
          &:before
            box-shadow: -1px 1px .1px states['warning']['border-color']
    &.centers
      margin-left -1.25em
    &.s
      font-size .8rem
    &.l
      font-size 1rem
    &.ok
      background-color: states['ok']['color']
      border-color: states['ok']['border-color']
      color: states['ok']['bg-color'] !important    
      &:before
        box-shadow: 1px 1px .1px states['ok']['border-color']
        background-color: states['ok']['color']
    &.danger
      background-color: states['danger']['color']
      border-color: states['danger']['border-color']
      color: states['danger']['bg-color'] !important 
      &:before
        box-shadow: 1px 1px .1px states['danger']['border-color']
        background-color: states['danger']['color']
    &.warning
      background-color: states['warning']['color']
      border-color: states['warning']['border-color']
      color: states['warning']['bg-color'] !important 
      &:before
        box-shadow: 1px 1px .1px states['warning']['border-color']
        background-color: states['warning']['color']