/***** Functions *****/
colorful-panel(state)
  border-color: lightness(state['border-color']) > 80% ? state['border-color'] : lighten(state['border-color'], 70%)
  color base-front !important
  >
    header
    .header
      colorful-light(state)

/***** Styles *****/
// base boxes
aside
header
section
article
nav
footer
div
  +fd()
    &.base
      background-color base-back
      color base-front
    &.light
      background-color light-back
      color dark-front
    &.dark
      background-color dark-back
      color invert-front

// base border
.border
  +fd()
    border 1px solid base-border
    box-sizing border-box
.border.rounded
  +fd()
    border-radius .4rem

// default section
section
.section
  +fd()
    padding .3rem


// inline block
.inline
  +fd()
    display inline-block 
    vertical-align middle

// box float
.left
  +fd()
    float left !important
.right
  +fd()
    float right !important

// panel style
.panel
  +fd()
    background-color base-back
    border-width 1px
    border-style solid
    border-radius .4em
    margin-bottom 1rem
    >
      header
      .header
        border-bottom-width 1px
        border-bottom-style solid
        border-radius .4em .4em 0 0
        line-height 2em
        padding .2em .8em
      .content
        padding .8em
    colorful(colorful-panel)

// fixed block
.fixed
  +fd()
    position relative
    > *
      position fixed
