/***** Functions *****/
list-li()
  list-style-type none
  &:before
    counter-increment section
    content counters(section, ".")
    {block}

/***** Styles *****/
dl
  +fd()
    font-size .8rem
    dt
      margin .4em auto
    dd
      margin .4em auto .4em 2em

// basic style for ul, ol
ul
ol
  +fd()
    &
    ul
    ol
      padding-left 1.5em
      list-style-position outside
    li
      margin .4em 0

// list order
ol.ordered
  +fd()
    &
    ol
      counter-reset: section;
      list-ol()
      li
        +list-li()
          float left
          margin-left -2em
          margin-right 1.5em
          display inline-block
.ol.ordered
  +fd()
    &
    .ol
      @extend ol.ordered.fd ol
      .li
        +list-li()
          margin-right 1em

// horizontal ul
+fd(ul)
  &.h
  &.row
  &.menu
    padding-left 0
    list-style-type none
  &.h
    .li
    li
      display inline-block

.list
  +fd()
    padding-left 0
    list-style-type none
    margin .3em 0
    .li
    li
      margin 0
      padding .3em .4em
    &.border
      @extend .border.rounded.fd
      .li + .li
      li + li
        border-top 1px solid dark-gray
      &.h
        .li + .li
        li + li
          border-top none
          border-left 1px solid dark-gray
