.nav
  +fd()
    margin auto
    // max-width 100%
    @media (max-width: 768px)
      width 100%
    &:after
      clearfix()
    li
      @media (max-width: 768px)
        background-color #000
        display block !important
        border-top 1px solid #666 !important
        margin 0 auto
        