/***** Functions *****/
colorful-menu(state)
  &
  > * > *
  .submenu .menu
  .submenu .menu > * > *
    text-color(state)

/***** Styles *****/
.menu
  +fd()
    margin 0
    background-color base-back
    font-weight normal
    box-shadow 0px 0px 0px 1px light-shadow;
    border-radius .2rem
    list-style none
    &:before
    &:after
      content "."
      display block
      height 0
      clear both
      visibility hidden
    >
      :first-child
        > :first-child
          border-radius .2rem 0 0 .2rem
      :last-child
        > :first-child
          border-radius 0 .2rem .2rem 0
      li
      .item
        user-select none
        box-sizing border-box
        transition opacity .2s ease,background .2s ease,box-shadow .2s ease
        float left
        margin 0
        white-space nowrap
        &:first-child
          border-left none
        >
          span
          a
            padding .8em 1em
            display inline-block
            +icon-class(\&)
              &:before
                margin-left 0
              &:after
                margin-right 0
          a:hover
            cursor pointer
            background-color light-back
        &.disabled >
          a
          span
            cursor not-allowed
            color light-front !important
        &.active
          >
            span
            a
              background-color light-back
              box-shadow 0em .2em 0em inset
      .right
        border-left none
      .item ~ .item
      li ~ li
        border-left 1px solid base-border
    &.v
      width 13em
      >
        li
        .item
          display block
          width 100%
          >
            span
            a
              width 100%
              box-sizing border-box
              +icon-class(\&)
                &:after
                  float right
              > kbd
                float right
                background none
                border none
                box-shadow none
                color light-front
                text-shadow 1px 1px 1px light-shadow
        .item ~ .item
        li ~ li
          border-top 1px solid base-border
          border-left none
        :first-child
          > :first-child
            border-radius .2em .2em 0 0
        :last-child
          > :first-child
            border-radius 0 0 .2em .2em
      &.full
        width 100%
    colorful(colorful-menu)
.menu
  +fd()
    > .submenu
      position relative
      >
        span
        a
          &:after
            @extend [class^="icon-"].fd.after:after
            @extend .fd.icon-angle-down.after:after
            margin-right 0
        .menu
          position absolute
          top 90%
          display none
          z-index 999
    &.v
      > .submenu
        >
          span
          a
            &:after
              @extend .fd.icon-angle-right.after:after
              float right
          .menu
            left 95%
            top 0
