// breadcrumb & step base styles
ol
ul
div
  &.breadcrumb
  &.step
    +fd()
      counter-reset none
      margin .8em 0
      padding-left 0
ol
ul
  &.breadcrumb
  &.step
    +fd()
      > li
        display inline-block
        margin 0
        & a
          color color-a-highlight
div.breadcrumb
div.step
  +fd()
    > div
      @extend ol.breadcrumb.fd > li

// breadcrumb
ol
ul
  &.breadcrumb
    +fd()
      width 100%
      > li
        & a:hover
          color color-a-highlight-hover
        & + li:before
          content "/\00a0"
          color light-front
          margin 0 .15em
div.breadcrumb
  +fd()
    > div a:hover
      @extend ol.breadcrumb.fd > li a:hover
    > div + div:before
      @extend ol.breadcrumb.fd > li + li:before

// step
ol
ul
  &.step
    +fd()
      display table
      overflow hidden
      border 1px solid base-border
      line-height 1
      border-radius 0.2em
div.step
  +fd()
    @extend ol.step.fd

ol
ul
  &.step
    +fd()
      > li
        padding 0 1.9em 0 3em
        display table-cell
        background-color: states['highlight']['bg-color']
        color base-front
        height 3em
        line-height 3em
        white-space nowrap
        &:before
          float right
          content ' '
          width 2.2em
          height 2.2em
          background-color: states['highlight']['bg-color']
          transform rotate(135deg)
          box-shadow -1px -1px 0px 0px light-shadow
          margin .42em -3em 0 .43em
        > a
          display inline-block
          padding 0 2em 0 3em
          margin 0 -2em 0 -3em
          &:before
            @extend ol.step.fd > li:before
            margin .28em -3.1em 0 .35em
            width 2.5em
            height 2.5em
          &:hover
            background-color: states['highlight']['color']
            color: states['highlight']['invert-color']
            &:before
              background-color: states['highlight']['color']
        &:first-child
          padding-left 2em
        &.current
        &.active
          &
          & > a
            cursor auto
            background-color: states['highlight']['color']
            color invert-front
            font-weight bold
            &:before
              background-color: states['highlight']['color']
div.step
  +fd()
    > div
      @extend ol.step.fd > li
      > a:before
        @extend ol.step.fd > li > a:before

ol
ul
  &.step
    +fd()
      > li
        &.current ~ li
          cursor not-allowed
          background-color base-back
          color color-disabled
div.step
  +fd()
    > div
      &.current ~ div
        @extend ol.step.fd > li.current ~ li

ol
ul
  &.step
    +fd()
      &.v
        overflow visible
        width auto
        border none
div.step
  +fd()
    &.v
      @extend ol.step.fd.v

ol
ul
  &.step
    +fd()
      &.v > li
        display block
        padding 0 2em
        border 1px solid base-border
        overflow hidden
        &:before
          display none
        &:first-child
          border-top-left-radius .2em
          border-top-right-radius .2em
        &:last-child
          border-bottom-left-radius .2em
          border-bottom-right-radius .2em
        & > a
          margin 0 -2em 0 -3em
          width 100%
        &.current
        &.active
          border-color: states['highlight']['color']
          overflow visible
          &:before
            display block
            margin .42em -3.15em 0 .42em
          & > a
            background-color transparent
            &:before
              background-color transparent
              box-shadow none
            
div.step
  +fd()
    &.v > div
      @extend ol.step.fd.v > li

ol
ul
  &.step
    +fd()
      &.v > li + li
          border-top none
div
  &.step
    +fd()
      &.v > div + div
        @extend ol.step.fd.v > li + li
