// font
base-size = 15px
base-family = "Lucida Grande", "Segoe UI", Verdana, Arial, "Heiti SC", "Microsoft YaHei", sans-serif;

// font path
font-path = '../fonts/'

// color
color-white = #FFF

color-black = #181717
color-dark-black = #000000

color-light-gray = #F5F4F5
color-base-gray = #8F949A
color-dark-gray = #DCDBDC

// color variables
light-mask = rgba(color-dark-black, .15)
base-mask = rgba(color-dark-black, .7)

base-highlight = #DA3610
base-bright = color-white
base-border = color-dark-gray

light-shadow = rgba(color-dark-black, .1)
base-shadow = rgba(color-dark-black, .3)

light-front = color-base-gray
base-front = #5B5B5B
dark-front = color-black
invert-front = color-white

light-back = color-light-gray
base-back = color-white
dark-back = color-black
invert-back = color-dark-black

states = {
  normal: {
    color: color-white,
    bg-color: color-white,
    invert-color: base-front,
    border-color: base-border,
    mask: 4%
  },
  lowlight: {
    color: color-light-gray,
    bg-color: color-white,
    invert-color: color-base-gray,
    border-color: color-dark-gray,
    mask: 4%
  },
  highlight: {
    color: c = #FF6426
    bg-color: color-white
    invert-color: color-white
    border-color: darken(c, 5%)
    mask: 14%
  },
  ok: {
    color: c = #82C32F
    bg-color: color-white
    invert-color: color-white
    border-color: darken(c, 10%)
    mask: 14%
  },
  warning: {
    color: c = #FFA105
    bg-color: color-white
    invert-color: color-white
    border-color: darken(c, 5%)
    mask: 14%
  },
  danger: {
    color: c = #D52F12
    bg-color: color-white
    invert-color: color-white
    border-color: darken(c, 10%)
    mask: 14%
  },
  info: {
    color: c = #4183c4
    bg-color: color-white
    invert-color: color-white
    border-color: darken(c, 5%)
    mask: 4%
  }
}

color-a = color-base-gray
color-a-hover = base-highlight
color-a-active = base-highlight
color-a-highlight = states['highlight']['color']
color-a-highlight-hover = darken(color-a-highlight, 10%)
color-a-highlight-active = color-a-highlight-hover
color-code = states['danger']['color']
color-selection = rgba(color-dark-black, 30%)
color-loader = states['highlight']['color']
color-disabled = color-dark-gray

samp-back = color-dark-black
samp-front = color-white

// transition
transition-hover = all 0.2s ease-in-out

// icons
icons = {
  glass: '\e800',
  music: '\e801',
  search: '\e802',
  mail: '\e803',
  mail-alt: '\e804',
  mail-squared: '\e805',
  heart: '\e806',
  heart-empty: '\e807',
  star: '\e808',
  star-empty: '\e809',
  star-half: '\e80a',
  star-half-alt: '\e80b',
  user: '\e80c',
  users: '\e80d',
  male: '\e80e',
  female: '\e80f',
  child: '\e810',
  camera: '\e811',
  chat: '\e812',
  th-large: '\e813',
  th: '\e814',
  th-list: '\e815',
  ok: '\e816',
  ok-circled: '\e817',
  ok-circled2: '\e818',
  ok-squared: '\e819',
  cancel: '\e81a',
  cancel-circled: '\e81b',
  cancel-circled2: '\e81c',
  plus: '\e81d',
  plus-circled: '\e81e',
  plus-squared: '\e81f',
  plus-squared-alt: '\e820',
  minus: '\e821',
  help: '\e822',
  help-circled: '\e823',
  info-circled: '\e824',
  info: '\e825',
  home: '\e826',
  link: '\e827',
  unlink: '\e828',
  link-ext: '\e829',
  link-ext-alt: '\e82a',
  attach: '\e82b',
  lock: '\e82c',
  lock-open: '\e82d',
  lock-open-alt: '\e82e',
  pin: '\e82f',
  eye: '\e830',
  eye-off: '\e831',
  tag: '\e832',
  flag: '\e833',
  flag-empty: '\e834',
  flag-checkered: '\e835',
  thumbs-up: '\e836',
  thumbs-down: '\e837',
  thumbs-up-alt: '\e838',
  thumbs-down-alt: '\e839',
  download: '\e83a',
  upload: '\e83b',
  download-cloud: '\e83c',
  upload-cloud: '\e83d',
  reply: '\e83e',
  reply-all: '\e83f',
  forward: '\e840',
  comment-empty: '\e841',
  chat-empty: '\e842',
  code: '\e843',
  video: '\e844',
  videocam: '\e845',
  picture: '\e846',
  minus-circled: '\e847',
  minus-squared: '\e848',
  minus-squared-alt: '\e849',
  tags: '\e84a',
  bookmark: '\e84b',
  bookmark-empty: '\e84c',
  export: '\e84d',
  export-alt: '\e84e',
  share: '\e84f',
  bell: '\e850',
  bell-alt: '\e851',
  bell-off: '\e852',
  bell-off-empty: '\e853',
  attention-alt: '\e854',
  attention: '\e855',
  attention-circled: '\e856',
  location: '\e857',
  share-squared: '\e858',
  pencil: '\e859',
  pencil-squared: '\e85a',
  edit: '\e85b',
  print: '\e85c',
  retweet: '\e85d',
  keyboard: '\e85e',
  gamepad: '\e85f',
  comment: '\e860',
  direction: '\e861',
  compass: '\e862',
  trash: '\e863',
  trash-empty: '\e864',
  doc: '\e865',
  docs: '\e866',
  doc-text: '\e867',
  doc-inv: '\e868',
  doc-text-inv: '\e869',
  folder: '\e86a',
  folder-open: '\e86b',
  folder-empty: '\e86c',
  folder-open-empty: '\e86d',
  box: '\e86e',
  rss: '\e86f',
  rss-squared: '\e870',
  phone: '\e871',
  phone-squared: '\e872',
  fax: '\e873',
  menu: '\e874',
  cog: '\e875',
  cog-alt: '\e876',
  wrench: '\e877',
  sliders: '\e878',
  basket: '\e879',
  calendar: '\e87a',
  calendar-empty: '\e87b',
  login: '\e87c',
  logout: '\e87d',
  mic: '\e87e',
  mute: '\e87f',
  volume-off: '\e880',
  volume-down: '\e881',
  volume-up: '\e882',
  headphones: '\e883',
  clock: '\e884',
  lightbulb: '\e885',
  block: '\e886',
  resize-full: '\e887',
  resize-full-alt: '\e888',
  resize-small: '\e889',
  resize-vertical: '\e88a',
  resize-horizontal: '\e88b',
  move: '\e88c',
  zoom-in: '\e88d',
  zoom-out: '\e88e',
  down-circled2: '\e88f',
  up-circled2: '\e890',
  left-circled2: '\e891',
  right-circled2: '\e892',
  down-dir: '\e893',
  up-dir: '\e894',
  left-dir: '\e895',
  right-dir: '\e896',
  down-open: '\e897',
  left-open: '\e898',
  right-open: '\e899',
  up-open: '\e89a',
  angle-left: '\e89b',
  angle-right: '\e89c',
  angle-up: '\e89d',
  angle-down: '\e89e',
  angle-circled-left: '\e89f',
  angle-circled-right: '\e8a0',
  angle-circled-up: '\e8a1',
  angle-circled-down: '\e8a2',
  angle-double-left: '\e8a3',
  angle-double-right: '\e8a4',
  angle-double-up: '\e8a5',
  angle-double-down: '\e8a6',
  down: '\e8a7',
  left: '\e8a8',
  right: '\e8a9',
  up: '\e8aa',
  down-big: '\e8ab',
  left-big: '\e8ac',
  right-big: '\e8ad',
  up-big: '\e8ae',
  right-hand: '\e8af',
  left-hand: '\e8b0',
  up-hand: '\e8b1',
  down-hand: '\e8b2',
  left-circled: '\e8b3',
  right-circled: '\e8b4',
  up-circled: '\e8b5',
  down-circled: '\e8b6',
  cw: '\e8b7',
  ccw: '\e8b8',
  arrows-cw: '\e8b9',
  level-up: '\e8ba',
  level-down: '\e8bb',
  shuffle: '\e8bc',
  exchange: '\e8bd',
  history: '\e8be',
  expand: '\e8bf',
  collapse: '\e8c0',
  expand-right: '\e8c1',
  collapse-left: '\e8c2',
  play: '\e8c3',
  play-circled: '\e8c4',
  play-circled2: '\e8c5',
  stop: '\e8c6',
  pause: '\e8c7',
  to-end: '\e8c8',
  to-end-alt: '\e8c9',
  to-start: '\e8ca',
  to-start-alt: '\e8cb',
  fast-fw: '\e8cc',
  fast-bw: '\e8cd',
  eject: '\e8ce',
  target: '\e8cf',
  signal: '\e8d0',
  wifi: '\e8d1',
  award: '\e8d2',
  desktop: '\e8d3',
  laptop: '\e8d4',
  tablet: '\e8d5',
  mobile: '\e8d6',
  inbox: '\e8d7',
  globe: '\e8d8',
  sun: '\e8d9',
  cloud: '\e8da',
  flash: '\e8db',
  moon: '\e8dc',
  umbrella: '\e8dd',
  flight: '\e8de',
  fighter-jet: '\e8df',
  paper-plane: '\e8e0',
  paper-plane-empty: '\e8e1',
  space-shuttle: '\e8e2',
  leaf: '\e8e3',
  file-pdf: '\e8e4',
  file-word: '\e8e5',
  file-excel: '\e8e6',
  file-powerpoint: '\e8e7',
  file-image: '\e8e8',
  file-archive: '\e8e9',
  file-audio: '\e8ea',
  file-video: '\e8eb',
  file-code: '\e8ec',
  font: '\e8ed',
  bold: '\e8ee',
  italic: '\e8ef',
  header: '\e8f0',
  paragraph: '\e8f1',
  text-height: '\e8f2',
  text-width: '\e8f3',
  align-left: '\e8f4',
  align-center: '\e8f5',
  align-right: '\e8f6',
  align-justify: '\e8f7',
  list: '\e8f8',
  indent-left: '\e8f9',
  indent-right: '\e8fa',
  list-bullet: '\e8fb',
  list-numbered: '\e8fc',
  strike: '\e8fd',
  underline: '\e8fe',
  superscript: '\e8ff',
  subscript: '\e900',
  table: '\e901',
  columns: '\e902',
  crop: '\e903',
  scissors: '\e904',
  paste: '\e905',
  briefcase: '\e906',
  suitcase: '\e907',
  ellipsis: '\e908',
  ellipsis-vert: '\e909',
  off: '\e90a',
  road: '\e90b',
  list-alt: '\e90c',
  qrcode: '\e90d',
  barcode: '\e90e',
  book: '\e90f',
  ajust: '\e910',
  tint: '\e911',
  toggle-off: '\e912',
  toggle-on: '\e913',
  check: '\e914',
  check-empty: '\e915',
  circle: '\e916',
  circle-empty: '\e917',
  circle-thin: '\e918',
  circle-notch: '\e919',
  dot-circled: '\e91a',
  asterisk: '\e91b',
  gift: '\e91c',
  fire: '\e91d',
  magnet: '\e91e',
  chart-bar: '\e91f',
  chart-area: '\e920',
  chart-pie: '\e921',
  chart-line: '\e922',
  ticket: '\e923',
  credit-card: '\e924',
  floppy: '\e925',
  megaphone: '\e926',
  hdd: '\e927',
  key: '\e928',
  fork: '\e929',
  rocket: '\e92a',
  bug: '\e92b',
  certificate: '\e92c',
  tasks: '\e92d',
  filter: '\e92e',
  beaker: '\e92f',
  magic: '\e930',
  cab: '\e931',
  taxi: '\e932',
  truck: '\e933',
  bus: '\e934',
  bicycle: '\e935',
  money: '\e936',
  euro: '\e937',
  pound: '\e938',
  dollar: '\e939',
  rupee: '\e93a',
  yen: '\e93b',
  rouble: '\e93c',
  shekel: '\e93d',
  try: '\e93e',
  won: '\e93f',
  bitcoin: '\e940',
  sort: '\e941',
  sort-down: '\e942',
  sort-up: '\e943',
  sort-alt-up: '\e944',
  sort-alt-down: '\e945',
  sort-name-up: '\e946',
  sort-name-down: '\e947',
  sort-number-up: '\e948',
  sort-number-down: '\e949',
  hammer: '\e94a',
  gauge: '\e94b',
  sitemap: '\e94c',
  spinner: '\e94d',
  coffee: '\e94e',
  food: '\e94f',
  beer: '\e950',
  user-md: '\e951',
  stethoscope: '\e952',
  ambulance: '\e953',
  medkit: '\e954',
  h-sigh: '\e955',
  hospital: '\e956',
  building: '\e957',
  building-filled: '\e958',
  bank: '\e959',
  smile: '\e95a',
  frown: '\e95b',
  meh: '\e95c',
  anchor: '\e95d',
  terminal: '\e95e',
  eraser: '\e95f',
  puzzle: '\e960',
  shield: '\e961',
  extinguisher: '\e962',
  bullseye: '\e963',
  wheelchair: '\e964',
  language: '\e965',
  graduation-cap: '\e966',
  paw: '\e967',
  spoon: '\e968',
  cube: '\e969',
  cubes: '\e96a',
  recycle: '\e96b',
  tree: '\e96c',
  database: '\e96d',
  lifebuoy: '\e96e',
  rebel: '\e96f',
  empire: '\e970',
  bomb: '\e971',
  soccer-ball: '\e972',
  tty: '\e973',
  binoculars: '\e974',
  plug: '\e975',
  newspaper: '\e976',
  calc: '\e977',
  copyright: '\e978',
  at: '\e979',
  eyedropper: '\e97a',
  brush: '\e97b',
  birthday: '\e97c',
  cc-visa: '\e97d',
  cc-mastercard: '\e97e',
  cc-discover: '\e97f',
  cc-amex: '\e980',
  cc-paypal: '\e981',
  cc-stripe: '\e982',
  adn: '\e983',
  android: '\e984',
  angellist: '\e985',
  apple: '\e986',
  behance: '\e987',
  behance-squared: '\e988',
  bitbucket: '\e989',
  bitbucket-squared: '\e98a',
  cc: '\e98b',
  codeopen: '\e98c',
  css3: '\e98d',
  delicious: '\e98e',
  deviantart: '\e98f',
  digg: '\e990',
  dribbble: '\e991',
  dropbox: '\e992',
  drupal: '\e993',
  facebook: '\e994',
  facebook-squared: '\e995',
  flickr: '\e996',
  foursquare: '\e997',
  git-squared: '\e998',
  git: '\e999',
  github: '\e99a',
  github-squared: '\e99b',
  github-circled: '\e99c',
  gittip: '\e99d',
  google: '\e99e',
  gplus: '\e99f',
  gplus-squared: '\e9a0',
  gwallet: '\e9a1',
  hacker-news: '\e9a2',
  html5: '\e9a3',
  instagramm: '\e9a4',
  ioxhost: '\e9a5',
  joomla: '\e9a6',
  jsfiddle: '\e9a7',
  lastfm: '\e9a8',
  lastfm-squared: '\e9a9',
  linkedin-squared: '\e9aa',
  linux: '\e9ab',
  linkedin: '\e9ac',
  maxcdn: '\e9ad',
  meanpath: '\e9ae',
  openid: '\e9af',
  pagelines: '\e9b0',
  paypal: '\e9b1',
  pied-piper-squared: '\e9b2',
  pied-piper-alt: '\e9b3',
  pinterest-circled: '\e9b4',
  pinterest-squared: '\e9b5',
  qq: '\e9b6',
  reddit: '\e9b7',
  reddit-squared: '\e9b8',
  renren: '\e9b9',
  skype: '\e9ba',
  slack: '\e9bb',
  slideshare: '\e9bc',
  soundcloud: '\e9bd',
  spotify: '\e9be',
  stackexchange: '\e9bf',
  stackoverflow: '\e9c0',
  steam: '\e9c1',
  steam-squared: '\e9c2',
  stumbleupon: '\e9c3',
  stumbleupon-circled: '\e9c4',
  tencent-weibo: '\e9c5',
  trello: '\e9c6',
  tumblr: '\e9c7',
  tumblr-squared: '\e9c8',
  twitch: '\e9c9',
  twitter-squared: '\e9ca',
  twitter: '\e9cb',
  vimeo-squared: '\e9cc',
  vine: '\e9cd',
  vkontakte: '\e9ce',
  wechat: '\e9cf',
  weibo: '\e9d0',
  windows: '\e9d1',
  wordpress: '\e9d2',
  xing: '\e9d3',
  xing-squared: '\e9d4',
  yelp: '\e9d5',
  youtube: '\e9d6',
  yahoo: '\e9d7',
  youtube-squared: '\e9d8',
  youtube-play: '\e9d9',
  blank: '\e9da',
  lemon: '\e9db',
  quote-left: '\e9dc',
  quote-right: '\e9dd',
  camera-alt: '\e9de',
  layer-align-right: '\e9df',
  layer-align-left: '\e9e0',
  layer-align-top: '\e9e1',
  align-horizontally: '\e9e2',
  align-vertically: '\e9e3',
  distribute-horizontally: '\e9e4',
  distribute-vertically: '\e9e5',
  layer-forward: '\e9e6',
  layer-bottom: '\e9e7',
  layer-backward: '\e9e8',
  layer-top: '\e9e9',
  group: '\e9eb',
  text: '\e9ec',
  ungroup: '\e9ed',
  cursor: '\e9ee',
  layer-align-bottom: '\e9ef'
}
