/**
 * Fondant UI System
 * Global File
 */

/***** Common Setting *****/

// font
base-size = 15px
base-family = "Lucida Grande", "Segoe UI", Verdana, Arial, "Heiti SC", "Microsoft YaHei", sans-serif;

// font path
font-path = '../fondant/'

// color
base-white = #FFF

base-black = #4E555F
dark-black = #000

base-highlight = #6CB3D3

light-gray = #F9F9FA
base-gray = #8F949A
dark-gray = #DCDEDF

states = {
  normal: {
    color: base-white,
    bg-color: base-white,
    invert-color: base-black,
    border-color: #E0E1E1,
    mask: 5%
  },
  lowlight: {
    color: light-gray,
    bg-color: base-white,
    invert-color: base-gray,
    border-color: dark-gray,
    mask: 7%
  },
  highlight: {
    color: #1B94E8,
    bg-color: base-white,
    invert-color: base-white,
    border-color: #007ACF,
    mask: 14%
  },
  ok: {
    color: #7EC469,
    bg-color: base-white,
    invert-color: base-white,
    border-color: #76B661,
    mask: 20%
  },
  warning: {
    color: #FFD143,
    bg-color: base-white,
    invert-color: base-white,
    border-color: #F8C537,
    mask: 24%
  },
  danger: {
    color: #EA4A3C,
    bg-color: base-white,
    invert-color: base-white,
    border-color: #DB4638,
    mask: 24%
  },
  info: {
    color: #92AFEC,
    bg-color: base-white,
    invert-color: base-white,
    border-color: #8EA6E0,
    mask: 24%
  }
}

color-a = base-gray
color-a-hover = base-black
color-a-active = base-highlight
color-a-highlight = states['highlight']['color']
color-a-highlight-hover = darken(color-a-highlight, 10%)
color-a-highlight-active = color-a-highlight-hover
color-code = #B90031
color-selection = #A6D8FF
color-loader = #0088E5
color-disabled = #CBCBCB


/***** Functions *****/

// fd namespace
fd(el = false, parent = true)
  if el
    // for element tag name
    if parent
      // with &
      {el}&.fd
      &.fd.{el}
      .fd > {el}&
      .fd > &.{el}
        {block}
    else
      // no &
      {el}.fd
      .fd.{el}
      .fd > {el}
      .fd > .{el}
        {block}
  else
    // for normal
    &.fd
    .fd > &
      {block}

// rem font-size setting
fr(n)
  font-size unit(n, rem)

// gradient
gradient(prop, args...)
  background-image gradient-point(prop, args) % args

gradient-point(prop, points)
  $t = prop + '-gradient(%s'
  for i, index in points
    if index > 0
      $t += ', %s'
  return $t += ')'

// icon class selector
icon-class(prefix = "")
  {prefix}[class^="icon-"]
  {prefix}[class*=" icon-"]
    {block}

// colorful styles selector
colorful(fn, prefix = '&')
  for key, state in states
    if key == 'normal'
      key = ''
    else
      key = '.' + key
    {prefix}{key}
      fn(state, key)
colorful-invert(state)
  color: state['invert-color'] !important
  background-color: state['color']
  border-color: darken(state['border-color'], 10%)
colorful-light(state)
  color: lightness(state['color']) > 80% ? state['invert-color'] : darken(state['color'], 30%) !important
  background-color: lightness(state['color']) > 80% ? lighten(state['invert-color'], 90%) : lighten(state['color'], 70%)
  border-color: lightness(state['border-color']) > 80% ? state['border-color'] : lighten(state['border-color'], 60%)

// font colors
text-color(state)
  color (lightness(state['color']) > 80% ? state['invert-color'] : state['color']) !important

// sizes
size-labels = s '' m l xl xxl
sizes(prefix=\&, selector='', fn=false)
  for size, i in size-labels
    if size
      {prefix}.{size}{selector}
        font-size unit((8 + 2*i)/10, em) !important
        if fn
          fn(i)

widths-labels = tight narrow '' broad wild full
widths(prefix=\&, selector='', inverse=0, step=15, start=25, u='%')
  for width, i in widths-labels
    if width
      width = '.' + width
    else
      width = ''
    {prefix}{width}{selector}
      if inverse
        width unit(inverse - step * i + start, u) !important
      else
        width unit(step * i + start, u) !important

/***** Base Style Reset *****/
html
body
  padding 0
  margin 0

body
  background-color base-white
  color lighten(base-black, 15%)
  font-family base-family
  font-size base-size

p
  line-height 1.8em
  margin .6em auto

br
  content ""
  display block
  height .2em
  line-height .2em
  width 100%

/***** Common Styles *****/
.hr
  +fd()
    padding-bottom .2em
    border-bottom 1px solid dark-gray
.divider
  +fd()
    text-align center
    position relative
    margin 1em 0
    &:before
    &:after
      content " "
      display table-cell
      border-top 1px solid rgba(base-black, .3)
      border-bottom 1px solid rgba(base-white, .8)
      height 0
      position absolute
      top 50%
    &:before
      left 0
    &:after
      right 0
    widths(\&, ':before', 22, 9)
    widths(\&, ':after', 22, 9)

// global colors, sizes
+fd()
  colorful(text-color)
  sizes()
  // p, span, li, .li, button, .button, input:not([type="file"]), label, select, textarea, .pointing, .label

.hide
  display none
.show
  display block !important
/***** Icons *****/
icons = {
    'spin3': '\e8ae'
  , 'windows': '\e8a3'
  , 'search': '\e802'
  , 'mail': '\e800'
  , 'mail-alt': '\e801'
  , 'heart': '\e803'
  , 'heart-empty': '\e804'
  , 'star': '\e805'
  , 'star-empty': '\e806'
  , 'star-half': '\e807'
  , 'star-half-alt': '\e808'
  , 'user': '\e80a'
  , 'users': '\e809'
  , 'male': '\e80b'
  , 'female': '\e80c'
  , 'video': '\e813'
  , 'videocam': '\e80d'
  , 'picture': '\e80e'
  , 'camera': '\e80f'
  , 'th-large': '\e810'
  , 'th': '\e811'
  , 'th-list': '\e812'
  , 'ok': '\e814'
  , 'ok-circled': '\e815'
  , 'cancel': '\e816'
  , 'plus': '\e817'
  , 'plus-squared': '\e819'
  , 'minus': '\e818'
  , 'minus-squared': '\e81a'
  , 'help': '\e81b'
  , 'home': '\e81c'
  , 'link': '\e81d'
  , 'link-ext': '\e81e'
  , 'attach': '\e81f'
  , 'lock': '\e822'
  , 'lock-open': '\e821'
  , 'pin': '\e820'
  , 'eye': '\e823'
  , 'eye-off': '\e824'
  , 'tag': '\e825'
  , 'bookmark': '\e826'
  , 'bookmark-empty': '\e827'
  , 'flag': '\e828'
  , 'thumbs-up': '\e829'
  , 'thumbs-down': '\e82a'
  , 'download': '\e82b'
  , 'upload': '\e82c'
  , 'reply': '\e82d'
  , 'forward': '\e82e'
  , 'code': '\e82f'
  , 'export': '\e830'
  , 'pencil': '\e831'
  , 'print': '\e832'
  , 'keyboard': '\e833'
  , 'comment-empty': '\e840'
  , 'chat-empty': '\e836'
  , 'bell': '\e83f'
  , 'attention': '\e837'
  , 'location': '\e83c'
  , 'direction': '\e83b'
  , 'trash': '\e83a'
  , 'doc': '\e839'
  , 'docs': '\e838'
  , 'folder': '\e83e'
  , 'folder-open': '\e83d'
  , 'rss-squared': '\e835'
  , 'phone': '\e841'
  , 'menu': '\e842'
  , 'cog': '\e843'
  , 'wrench': '\e844'
  , 'calendar': '\e845'
  , 'clock': '\e834'
  , 'resize-full': '\e846'
  , 'resize-full-alt': '\e847'
  , 'resize-small': '\e848'
  , 'resize-vertical': '\e849'
  , 'resize-horizontal': '\e84a'
  , 'move': '\e84b'
  , 'zoom-in': '\e84c'
  , 'zoom-out': '\e84d'
  , 'down-open': '\e84e'
  , 'left-open': '\e84f'
  , 'right-open': '\e850'
  , 'up-open': '\e851'
  , 'angle-left': '\e852'
  , 'angle-right': '\e853'
  , 'angle-up': '\e854'
  , 'angle-down': '\e855'
  , 'spin6': '\e8ad'
  , 'angle-double-left': '\e856'
  , 'angle-double-right': '\e857'
  , 'angle-double-up': '\e858'
  , 'angle-double-down': '\e859'
  , 'down': '\e85a'
  , 'left': '\e85b'
  , 'right': '\e85c'
  , 'up': '\e85d'
  , 'down-big': '\e85e'
  , 'left-big': '\e85f'
  , 'right-big': '\e860'
  , 'up-big': '\e861'
  , 'right-hand': '\e862'
  , 'left-hand': '\e863'
  , 'up-hand': '\e864'
  , 'down-hand': '\e865'
  , 'cw': '\e866'
  , 'ccw': '\e867'
  , 'arrows-cw': '\e86f'
  , 'level-up': '\e86e'
  , 'level-down': '\e86d'
  , 'shuffle': '\e86c'
  , 'exchange': '\e86b'
  , 'desktop': '\e868'
  , 'tablet': '\e869'
  , 'mobile': '\e86a'
  , 'inbox': '\e871'
  , 'globe': '\e872'
  , 'flight': '\e870'
  , 'font': '\e873'
  , 'bold': '\e880'
  , 'italic': '\e874'
  , 'text-height': '\e875'
  , 'text-width': '\e876'
  , 'align-left': '\e877'
  , 'align-center': '\e878'
  , 'align-right': '\e879'
  , 'align-justify': '\e87a'
  , 'list': '\e87b'
  , 'indent-left': '\e87c'
  , 'indent-right': '\e87d'
  , 'list-bullet': '\e87e'
  , 'list-numbered': '\e87f'
  , 'strike': '\e881'
  , 'underline': '\e882'
  , 'superscript': '\e883'
  , 'subscript': '\e884'
  , 'crop': '\e885'
  , 'ellipsis': '\e887'
  , 'ellipsis-vert': '\e886'
  , 'qrcode': '\e888'
  , 'barcode': '\e889'
  , 'check': '\e88a'
  , 'check-empty': '\e88b'
  , 'circle-empty': '\e88c'
  , 'dot-circled': '\e88d'
  , 'chart-bar': '\e88e'
  , 'floppy': '\e88f'
  , 'fork': '\e890'
  , 'bug': '\e891'
  , 'filter': '\e892'
  , 'sort': '\e895'
  , 'sort-down': '\e894'
  , 'sort-up': '\e893'
  , 'sort-alt-up': '\e896'
  , 'sort-alt-down': '\e897'
  , 'sort-name-up': '\e898'
  , 'sort-name-down': '\e899'
  , 'sort-number-up': '\e89a'
  , 'sort-number-down': '\e89b'
  , 'sitemap': '\e89c'
  , 'spinner': '\e89d'
  , 'coffee': '\e89e'
  , 'smile': '\e8a0'
  , 'frown': '\e89f'
  , 'android': '\e8a1'
  , 'apple': '\e8a2'
  , 'css3': '\e8a4'
  , 'dropbox': '\e8a6'
  , 'facebook': '\e8a7'
  , 'flickr': '\e8a8'
  , 'github': '\e8a9'
  , 'gplus': '\e8aa'
  , 'html5': '\e8a5'
  , 'tumblr': '\e8ab'
  , 'weibo': '\e8ac'
}

@import 'styles/*'
