<section class="fd">
  <h3 class="divider">Breadcrumb</h3>
  <div class="docs">
    <p>A simple breadcrumb</p>
    <div class="tag">
      <code>.breadcrumb</code>
    </div>
    <div class="usage">
      <code>.breadcrumb.fd</code> or <code>.fd &gt; .breadcrumb</code>
    </div>
    <div class="example">
      <div class="fd breadcrumb">
        <a href="#" class="sections">Food</a>
        <span class="dividers"> / </span>
        <a href="#" class="sections">Fruit</a>
        <span class="dividers"> / </span>
        <span class="active sections">Apples</span>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Variations</h3>
  <div class="docs">
    <b>Size</b>
    <p>A breadcrumb can have different sizes</p>
    <div class="example">
      <ul class="fd">
        <li>
          <div class="fd breadcrumb large">
            <a href="#" class="sections">Food</a>
            <span class="dividers"> / </span>
            <a href="#" class="sections">Fruit</a>
            <span class="dividers"> / </span>
            <span class="active sections">Apples</span>
          </div>
        </li>
        <li>
          <div class="fd breadcrumb">
            <a href="#" class="sections">Food</a>
            <span class="dividers"> / </span>
            <a href="#" class="sections">Fruit</a>
            <span class="dividers"> / </span>
            <span class="active sections">Apples</span>
          </div>
        </li>
        <li>
          <div class="fd breadcrumb small">
            <a href="#" class="sections">Food</a>
            <span class="dividers"> / </span>
            <a href="#" class="sections">Fruit</a>
            <span class="dividers"> / </span>
            <span class="active sections">Apples</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
  <div class="docs">
    <b>Step for breadcrumb</b>
    <div class="example">
          <div class="fd steps breadcrumb">
            <a href="#" class="before step">Food</a>
            <a href="#" class="before step">Fruit</a>
            <div class="active step">Apples</div>
          </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
   <div class="docs">
    <b>Size</b>
    <div class="example">
      <div class="fd steps breadcrumb large">
        <a href="#" class="before step">Food</a>
        <a href="#" class="before step">Fruit</a>
        <div class="active step">Apples</div>
      </div>
      <br />
      <br />
      <div class="fd steps breadcrumb">
        <a href="#" class="before step">Food</a>
        <a href="#" class="before step">Fruit</a>
        <div class="active step">Apples</div>
      </div>
      <br />
      <br />
      <div class="fd steps breadcrumb small">
        <a href="#" class="before step">Food</a>
        <a href="#" class="before step">Fruit</a>
        <div class="active step">Apples</div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
