<section class="fd">
  <h3 class="divider">Article</h3>
  <div class="docs">
    <div class="tag">
      <code>section</code> <code>article</code> <code>div</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>section</code></li>
        <li><code>article</code></li>
        <li><code>aside</code></li>
        <li><code>div.</code></li>
      </ul>
    </div>
    <div class="example">
      <article class="fd dark">
        <section class="fd light">
          <div class="fd article dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</div>
          <div class="fd section">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</div>
        </section>
      </article>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>