<section class="fd">
  <h3 class="hr">Fieldset</h3>
  <div class="docs">
    <div class="tag">
      <code>fieldset</code> <code>legend</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>fieldset.fd legend</code> or <code>.fd &gt; fieldset legend</code></li>
      </ul>
    </div>
    <div class="example">
      <fieldset class="fd">
        <legend>Legend Text</legend>
        <p>Contents in fieldset.</p>
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Text Field</h3>
  <div class="docs">
    <p>Text-based input fields. Support for all HTML5 types.</p>
    <div class="tag">
      <code>input</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>input[type="*"].fd</code> or <code>.fd &gt; input[type="*"]</code></li>
        <li><span class="fd h6">6 sizes:</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">6 widths:</span> <code>.tight</code> <code>.narrow</code> default <code>.broad</code> <code>.wild</code> <code>.full</code></li>
      </ul>
    </div>
    <div class="example">
      <fieldset class="fd">
        <legend>different sizes</legend>
        <p><input type="text" class="fd s" placeholder="Text in s size"></p>
        <p><input type="number" class="fd" placeholder="Number in default size"></p>
        <p><input type="password" class="fd m" placeholder="Password in m size"></p>
        <p><input type="email" class="fd l" placeholder="Email in l size"></p>
        <p><input type="search" class="fd xl" placeholder="Search in xl size"></p>
        <p><input type="url" class="fd xxl" placeholder="URL in xxl size"></p>
        <p><input type="tel" class="fd" placeholder="tel"></p>
        <p><input type="time" class="fd" placeholder="time"></p>
        <p><input type="date" class="fd" placeholder="date"></p>
        <p><input type="datetime" class="fd" placeholder="datetime"></p>
        <p><input type="datetime-local" class="fd" placeholder="datetime-local"></p>
        <p><input type="week" class="fd" placeholder="week"></p>
        <p><input type="month" class="fd" placeholder="month"></p>
      </fieldset>
      <fieldset class="fd">
        <legend>different width</legend>
        <p><input type="text" class="fd tight" placeholder="width: 25% - tight"></p>
        <p><input type="text" class="fd narrow" placeholder="width: 40% - narrow"></p>
        <p><input type="text" class="fd" placeholder="width: 55% - default"></p>
        <p><input type="text" class="fd broad" placeholder="width: 70% - broad"></p>
        <p><input type="text" class="fd wild" placeholder="width: 85% - wild"></p>
        <p><input type="text" class="fd full" placeholder="width: 100% - full"></p>
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Radio &amp; Checkbox</h3>
  <div class="docs">
    <p></p>
    <div class="tag">
      <code>input[type="radio"]</code> <code>input[type="checkbox"]</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>input[type="radio"].fd</code> or <code>.fd &gt; input[type="radio"]</code></li>
        <li><code>input[type="checkbox"].fd</code> or <code>.fd &gt; input[type="checkbox"]</code></li>
        <li><span class="fd h6">6 sizes:</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
      </ul>
    </div>
    <div class="example fd">
      <fieldset>
        <legend>deprecated</legend>
        <p class="fd">
          <input type="radio" name="sex" value="male" id="male">
          <label class="fd" for="male">male</label>
          <input type="radio" name="sex" value="female" id="female">
          <label class="fd" for="female">female</label>
        </p>
        <p class="fd">
          <label class="fd" for="red">red</label>
          <input type="checkbox" name="color" value="red" id="red">
          <label class="fd" for="blue">blue</label>
          <input type="checkbox" name="color" value="blue" id="blue">
        </p>
      </fieldset>
      <fieldset>
        <legend>default style</legend>
        <p class="fd">
          <label class="l">
            <input type="radio" name="handed" value="left-handed" id="left-handed">
            left-handed
          </label>
          <label class="xl">
            <input type="radio" name="handed" value="right-handed" id="right-handed">
            right-handed
          </label>
        </p>
        <p class="fd">
          <label class="fd s">
            white
            <input type="checkbox" name="color" value="white" id="white">
          </label>
          <label class="fd m">
            black
            <input type="checkbox" name="color" value="black" id="black">
          </label>
        </p>
      </fieldset>
      <fieldset>
        <legend>custom style</legend>
        <p>
          <label class="fd radio">
            <input type="radio" name="radio"> <span class="box">apple</span>
          </label>
          <label class="fd radio">
            <input type="radio" name="radio"> <span class="box">苹果</span>
          </label> 
        </p>
      </fieldset>
      <fieldset>
        <label class="fd checkbox">
          <input type="checkbox"> <span class="box">apple</span>
        </label>
        <label class="fd checkbox">
          <input type="checkbox"> <span class="box">苹果</span>
        </label> 
      </fieldset>
      <fieldset>
        <label class="fd checkbox">
        <input type="checkbox"> <span class="box">apple</span>
      </label>
      </fieldset>
      <fieldset>
        <label class="fd checkbox">
        <input type="checkbox"> <span class="box">桔子</span>
      </label>
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Select</h3>
  <p>使用默认选项或添加<code>multiple</code>属性可以显示多个选项</p>
  <div class="docs">
    <div class="tag">
      <code>select</code>
    </div>
    <div class="example">
      <select class="fd m">
        <option selected="selected">Option 01</option>
        <option>Option 02</option>
        <option>Option 03</option>
      </select> 
      <select class="fd l" multiple="">
        <option selected="selected">Option 01</option>
        <option>Option 02</option>
        <option>Option 03</option>
        <option>Option 04</option>
        <option>Option 05</option>
      </select>

    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Textarea</h3>
  <div>可根据需要改变 <code>rows</code> 属性</div>
  <div class="docs">
    <div class="example">
      <textarea class="fd"></textarea>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">File</h3>
  <div class="docs">
    <div class="tag">
      <code>input[type="file"]</code>
    </div>
    <div class="example">
      <input type="file">
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Validation states</h3>
  <div class="docs">
    <div class="example">
      <input type="text" class="fd warning" value="warning">
      <input type="text" class="fd ok" value="ok" >
      <input type="text" class="fd danger" value="danger">
      <p>Message block ,do any one you like</p>
      <div class="field fd">
        <input type="text" class="danger" value="danger">
        <div class="pointing danger label above">
          Enter your username
        </div>
      </div>
      <div class="field fd">
        <input type="text" class="fd danger l">
        <div class="pointing danger label lefts">
          Enter your username
        </div>
      </div>
      <div class="field fd">
        <div class="pointing ok label rights">
          Enter your username
        </div>
        <input type="text" class="fd ok l">
      </div>
      <div class="field fd">
        <div class="pointing warning label below">
          Enter your username
        </div>
        <input type="text" class="fd warning">
      </div>

    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Unchangeable</h3>
  <p>In case the input and fieldset is disabled or read only.</p>
  <div class="docs">
    <div class="tag">
      <code>input[disabled]</code> <code>input[readonly]</code> and <code>fieldset[disabled]</code>
    </div>
    <div class="example">
      <p class="fd">
        <input type="text" class="fd" disabled placeholder="Disabled input here…">
      </p>
      <p class="fd">
        <input type="text" class="fd" readonly placeholder="Read only input here…">
      </p>
      <fieldset disabled class="fd">
        This fieldset is disabled.
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Form and icons</h3>
  <div>This is an example of how to add an icon from the Icon component to a form</div>
  <div class="docs">
    <div class="example">
      <div class="fd form-icon">
        <input type="text" class="fd icon small" placeholder="">
        <i class="icon-help"></i>
      </div>
      <div class="fd form-icon">
        <input type="text" class="fd icon" placeholder="">
        <i class="icon-calendar"></i>
      </div>
      <div class="fd form-icon">
        <input type="text" class="fd icon large" placeholder="">
        <i class="icon-star"></i>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Prepended and appended inputs</h3>
  <div>Add text or buttons before or after any text-based input.</div>
  <div class="docs">
    <div class="example">
      <div class="fd input-prepend">
        <span class="add small">@</span>
        <input type="text" class="fd l small" placeholder="">
      </div>
      <div class="fd input-append">
        <input type="text" class="fd m" placeholder="">
        <span class="add">.00</span>
      </div>
      <div class="fd input-append input-prepend">
        <span class="add large">@</span>
        <input type="text" class="fd l large" placeholder="">
        <span class="add large">.00</span>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>