<section class="fd">
  <h3 class="hr">Fieldset</h3>
  <div class="docs">
    <div class="tag">
      <code>fieldset</code> <code>legend</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>fieldset.fd legend</code> or <code>.fd &gt; fieldset legend</code></li>
      </ul>
    </div>
    <div class="example">
      <fieldset class="fd">
        <legend>Legend Text</legend>
        <p>Contents in fieldset.</p>
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Text Field</h3>
  <div class="docs">
    <p>Text-based input fields. Support for all HTML5 types.</p>
    <div class="tag">
      <code>input</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>input[type="*"].fd</code> or <code>.fd &gt; input[type="*"]</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">6 widths :</span> <code>.tight</code> <code>.narrow</code> default <code>.broad</code> <code>.wild</code> <code>.full</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <fieldset class="fd">
        <legend>different sizes</legend>
        <p><input type="text" class="fd s" placeholder="Text in s size"></p>
        <p><input type="number" class="fd" placeholder="Number in default size"></p>
        <p><input type="password" class="fd m" placeholder="Password in m size"></p>
        <p><input type="email" class="fd l" placeholder="Email in l size"></p>
        <p><input type="search" class="fd xl" placeholder="Search in xl size"></p>
        <p><input type="url" class="fd xxl" placeholder="URL in xxl size"></p>
        <p><input type="tel" class="fd lowlight" placeholder="tel"></p>
        <p><input type="time" class="fd highlight" placeholder="time"></p>
        <p><input type="date" class="fd ok" placeholder="date"></p>
        <p><input type="datetime" class="fd warning" placeholder="datetime"></p>
        <p><input type="datetime-local" class="fd danger" placeholder="datetime-local"></p>
        <p><input type="week" class="fd info" placeholder="week"></p>
        <p><input type="month" class="fd" placeholder="month"></p>
      </fieldset>
      <fieldset class="fd">
        <legend>different width</legend>
        <p><input type="text" class="fd tight" placeholder="width: 25% - tight"></p>
        <p><input type="text" class="fd narrow" placeholder="width: 40% - narrow"></p>
        <p><input type="text" class="fd" placeholder="width: 55% - default"></p>
        <p><input type="text" class="fd broad" placeholder="width: 70% - broad"></p>
        <p><input type="text" class="fd wild" placeholder="width: 85% - wild"></p>
        <p><input type="text" class="fd full" placeholder="width: 100% - full"></p>
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Radio &amp; Checkbox</h3>
  <div class="docs">
    <p></p>
    <div class="tag">
      <code>input[type="radio"]</code> <code>input[type="checkbox"]</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>input[type="radio"].fd</code> or <code>.fd &gt; input[type="radio"]</code></li>
        <li><code>input[type="checkbox"].fd</code> or <code>.fd &gt; input[type="checkbox"]</code></li>
        <li><code>.option</code> for Fondant Style</li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example fd">
      <fieldset>
        <legend>Default Style</legend>
        <p class="fd">
          <input class="s" type="radio" name="sex" value="male" id="male">
          <label class="s" for="male">male</label>
          <input class="m" type="radio" name="sex" value="female" id="female">
          <label class="m" for="female">female</label>
        </p>
        <p>
          <label class="fd" for="red">red</label>
          <input class="fd" type="checkbox" name="color" value="red" id="red">
          <label class="fd l" for="blue">blue</label>
          <input class="fd l" type="checkbox" name="color" value="blue" id="blue">
        </p>
        <p class="fd">
          <label class="l">
            <input type="radio" name="handed" value="left-handed">
            left-handed
          </label>
          <label class="xl">
            <input type="radio" name="handed" value="right-handed">
            right-handed
          </label>
        </p>
        <p>
          <label class="fd s">
            white
            <input type="checkbox" name="color" value="white">
          </label>
          <label class="fd m">
            black
            <input type="checkbox" name="color" value="black">
          </label>
        </p>
      </fieldset>
      <fieldset>
        <legend>Fondant Style</legend>
        <p>
          <input class="fd option" type="radio" name="time" value="am" id="am">
          <label class="fd highlight s" for="am">AM</label>
          <span class="fd option warning m">
            <input type="radio" name="time" value="pm" id="pm">
            <label for="pm">PM</label>
          </span>
          <span class="fd option">
            <input type="radio" name="time" value="24" id="h24" checked="">
            <label for="h24">24:00</label>
          </span>
        </p>
        <p class="fd">
          <input class="option" type="checkbox" name="eat" value="breakfast" id="breakfast">
          <label class="after lowlight l" for="breakfast">breakfast</label>
          <span class="option after danger xl">
            <input type="checkbox" name="eat" value="lunch" id="lunch">
            <label for="lunch">lunch</label>
          </span>
          <span class="option after ok xxl">
            <input type="checkbox" name="eat" value="dinner" id="dinner" checked="">
            <label for="dinner">dinner</label>
          </span>
        </p>
        <p>
          <label class="fd option info s">
            <input type="checkbox">
            <span>Apple</span>
          </label>
          <label class="fd option highlight m">
            <input type="checkbox" checked>
            <span>Google</span>
          </label>
          <label class="fd option ok">
            <input type="checkbox">
            <span>Lenovo</span>
          </label>
          <label class="fd option danger l">
            <input type="checkbox">
            <span>Microsoft</span>
          </label> 
        </p>
        <p class="fd">
          <label class="option after lowlight xl">
            <input type="radio" name="os" value="iOS">
            <span>iOS</span>
          </label>
          <label class="option after xxl">
            <input type="radio" name="os" value="Android" checked>
            <span>Android</span>
          </label>
        </p>
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Switch</h3>
  <div class="docs">
    <div class="usage">
      <ul class="fd">
        <li><span class="fd h6">switch:</span> <code>.fd.switch > input[type="checkbox"] + *</code> or <code>.fd > .switch > input[type="checkbox"] + *</code></li>
        <li><span class="fd h6">slider:</span> <code>.fd.slider > input[type="checkbox"] + *</code> or <code>.fd > .slider > input[type="checkbox"] + *</code></li>
        <li><span class="fd h6">default wording :</span> <code>*</code> <em>any inline element</em> <strong>- " ON / OFF "</strong></li>
        <li><span class="fd h6">custom wording :</span> <code>*.on + *.off</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <label class="fd switch s">
        <input type="checkbox">
        <em></em>
      </label>
      <label class="fd switch lowlight">
        <input type="checkbox">
        <span class="on"></span>
        <span class="off"></span>
      </label>
      <label class="fd switch m highlight">
        <input type="checkbox">
        <span class="icon-circle-empty off">NO</span>
        <span class="icon-dot-circled on">OK</span>
      </label>
      <label class="fd slider l ok">
        <input type="checkbox" checked="">
        <span class="off"></span>
        <span class="on"></span>
      </label>
      <label class="fd slider xl warning">
        <input type="checkbox" checked="">
        <strong class="on"><span class="fd icon-folder-open">Opened</span></strong>
        <strong class="off"><span class="fd icon-folder">Closed</span></strong>
      </label>
      <label class="fd slider xxl danger">
        <input type="checkbox">
        <span class="off">PM</span>
        <span class="on">AM</span>
      </label>
      <label class="fd switch info" lang="zh">
        <input type="checkbox">
        <span></span>
      </label>
      <label class="fd slider" lang="zh">
        <input type="checkbox">
        <span class="on"></span>
        <span class="off"></span>
      </label>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Select</h3>
  <p>Dropdown and multiple selector</p>
  <div class="docs">
    <div class="tag">
      <code>select</code>
    </div>
    <div class="usage">
      <code>select.fd</code> or <code>.fd &gt; select</code>
    </div>
    <div class="example">
      <p>
        <select class="fd m">
          <option selected="selected">Option 01</option>
          <option>Option 02</option>
          <option>Option 03</option>
        </select>
      </p>
      <p class="fd">
        <select class="xl wild" multiple="">
          <option selected="selected">Option 01</option>
          <option>Option 02</option>
          <option>Option 03</option>
          <option>Option 04</option>
          <option>Option 05</option>
        </select>
      </p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Textarea</h3>
  <div class="docs">
    <div class="usage">
      <ul class="fd">
        <li><code>textarea.fd</code> or <code>.fd &gt; textarea</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <p>
        <textarea class="fd"></textarea>
      </p>
      <p class="fd">
        <textarea class="xxl narrow highlight"></textarea>
      </p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">File</h3>
  <div class="docs">
    <div class="tag">
      <code>input[type="file"]</code>
    </div>
    <div class="example">
      <input type="file">
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Unchangeable</h3>
  <p>In case the input and fieldset is disabled or read only.</p>
  <div class="docs">
    <div class="tag">
      <code>input[disabled]</code> <code>input[readonly]</code> and <code>fieldset[disabled]</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>input[disabled].fd</code> or <code>.fd &gt; input[disabled]</code></li>
        <li><code>input[readonly].fd</code> or <code>.fd &gt; input[readonly]</code></li>
        <li><code>fieldset[disabled].fd</code> or <code>.fd &gt; fieldset[disabled]</code></li>
      </ul>
    </div>
    <div class="example">
      <p class="fd">
        <input type="text" class="fd" disabled placeholder="Disabled input here…">
      </p>
      <p class="fd">
        <input type="text" class="fd" readonly placeholder="Read only input here…">
      </p>
      <fieldset disabled class="fd">
        This fieldset is disabled.
      </fieldset>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Input fields with icons</h3>
  <div>Support outside icons by default and use the <q>inside</q> class to make the icons be inside of the input fields.</div>
  <div class="docs">
    <div class="usage">
      <ul class="fd">
        <li><code>.fd.icon-* > input</code> or <code>.fd > .icon-* > input</code></li>
        <li><code>.fd.icon-*.inside > input</code> or <code>.fd > .icon-*.inside > input</code></li>
      </ul>
    </div>
    <div class="example">
      <label class="fd icon-mobile">
        phone number
        <input type="text" class="s narrow" placeholder="">
      </label>
      <p class="fd icon-calendar after">
        <input type="text" class="icon" placeholder="">
        YY/MM
      </p>
      <p class="fd">
        <label class="icon-star inside l">
          <input type="text" class="fd icon" placeholder="">
        </label>
      </p>
      <p class="fd icon-code inside after">
        <input type="text" class="icon" placeholder="">
      </p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Input Group</h3>
  <div>Add text or buttons before or after any text-based input.</div>
  <div class="docs">
    <div class="usage">
      <ul class="fd">
        <li><code>.fd.group > * + input + *</code> or <code>.fd > .group > * + input + *</code></li>
        <li><code>.fd.group > input + * + input</code> or <code>.fd > .group > input + * + input</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">6 widths :</span> <code>.tight</code> <code>.narrow</code> default <code>.broad</code> <code>.wild</code> <code>.full</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <p>
        <label class="fd group s tight">
          <input type="text" placeholder="left">
          <sapn>px</sapn>
        </label>
        <label class="fd group lowlight narrow">
          <em>%</em>
          <input type="text" placeholder="percent">
        </label>
        <label class="fd group m highlight">
          <input type="text" placeholder="username">
          <strong>@</strong>
          <input type="text" placeholder="example.com">
        </label>
      </p>
      <p class="fd">
        <span class="fd group info broad">
          <label for="words" class="icon-phone"></label>
          <input type="text">
        </span>
        <label class="group l ok wild">
          <span>$</span>
          <input type="text" placeholder="00">
          <span>.00</span>
        </label>
      </p>
      <p class="fd">
        <label class="group xl warning full">
          <span><input type="checkbox"></span>
          <input type="text">
          <span>.00</span>
        </label>
      </p>
      <p>
        <label class="fd group xxl danger">
          <input type="text">
          <span><input type="radio"></span>
        </label>
      </p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
