<section class="fd">
  <h3 class="divider">CSS Reset</h3>
  <div class="fd docs">
    <div class="tag">
      <code>body</code>
      <code>::selection</code>
      <code>mark</code>
      <code>p</code>
      <code>a</code>
      <code>br</code>
      <code>code</code>
      <code>address</code>
    </div>
    <div class="example">
      default text <mark>the same as selection style</mark>
      <p>default paragraph</p>
      <a href="/">dafault link</a>
      <br>
      <code>html &gt; doby</code>
      <address>
        Your Name<br>
        Your email
      </address>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Namespace</h3>
  <div class="fd docs">
    <p>All fondant styles base on class name <code>.fd</code> .</p>
    <div class="usage">
      <code>*.fd</code> or <code>.fd > *</code>
    </div>

  </div>
</section>