<section class="fd">
  <h3 class="divider">Common Structure</h3>
  <div class="docs">
    <div class="tag">
      <code>nav</code> <code>main</code> <code>article</code> <code>aside</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>body / .body &gt; .fd.header / header.fd</code></li>
        <li><code>body / .body &gt; .fd.main / main.fd</code></li>
        <li><code>body / .body &gt; .fd.main / main.fd &gt; .article / article</code></li>
        <li><code>body / .body &gt; .fd.main / main.fd &gt; .aside / aside</code></li>
        <li><code>body / .body &gt; .fd.footer / footer.fd</code></li>
      </ul>
    </div>
    <div class="example">
      <div class="body">
        <header class="fd dark">
          <nav class="top">top navigation</nav>
        </header>
        <main class="fd">
          <article>
            <div class="body">
              <div class="fd header dark">
                <nav class="top">top navigation</nav>
              </div>
              <div class="fd main">
                <div class="article">main container</div>
                <div class="aside dark">side bar</div>
              </div>
              <div class="fd footer dark">footer</div>
            </div>
          </article>
          <aside>side bar</aside>
        </main>
        <footer class="fd dark">footer</footer>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code" format="<div class=''body''>,<body>|<\/div>(\s*)$,</body>"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Grid</h3>
  <div class="docs">
    <p>12 columns grid system.</p>
    <div class="tag">
      <code>div</code> or <em class="fd lowlight">any one you like</em>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>.fd.row > .col.[number]</code> or <code>.fd > .row > .col.[number]</code></li>
        <li><code>.fd.row.table.[number] > .col</code> or <code>.fd > .row.table.[number] > .col</code></li>
        <li><span class="fd h6">number:</span> 1 - 12 in English.</li>
      </ul>
    </div>
    <div class="example">
      <div class="fd row section">
        <div class="col one border">1</div>
        <div class="col two border">2</div>
        <div class="col three border">3</div>
        <div class="col six border">6</div>
      </div>
      <div class="fd row table five section">
        <div class="col border">1</div>
        <div class="col border">1</div>
        <div class="col border">1</div>
        <div class="col border">1</div>
        <div class="col border">1</div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>