<section class="fd">
  <h3 class="hr">Circle loading</h3>
  <div class="fd docs">
    <p>A circle loading</p>
    <div class="tag">
      <code>.loading</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>.loading.fd &gt; *</code> or <code>.fd &gt; .loading &gt; *</code></li>
        <li><span class="fd h6">* :</span> <code>.circle</code> <code>.point</code></li>
        <li><span class="fd h6">mask :</span> <code>.mask</code></li>
      </ul>
    </div>
    <div class="example">
      <div style="width: 100%; height: 10em; position: relative;">
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <div class="fd loading">
          <div class="circle"></div>
        </div>
      </div>
      <div style="width: 100%; height: 10em; position: relative;">
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <div class="fd loading mask">
          <div class="circle"></div>
        </div>
      </div>
      <div style="width: 100%; height: 10em; position: relative;">
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <div class="fd loading">
          <div class="point"></div>
        </div>
      </div>
      <div style="width: 100%; height: 10em; position: relative;">
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p class="fd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <div class="fd loading mask">
          <div class="point"></div>
        </div>
      </div>    
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
