<section class="fd">
  <h3 class="hr">Menu</h3>
  <div class="fd docs">
    <div class="tag">
      <code>ul</code> or <code>div</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><code>.menu.fd &gt; li / .item &gt; a / span</code> or <code>.fd &gt; .menu &gt; li /.item &gt; a / span</code></li>
        <li><span class="fd h6">vertical menu :</span> <code>.v</code></li>
        <li><span class="fd h6">6 sizes :</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
        <li><span class="fd h6">100% width of vertical menu :</span> <code>.full</code></li>
      </ul>
    </div>
    <div class="example">
      <ul class="fd menu">
        <li class="active">
          <a>Home</a>
        </li>
        <li class="disabled">
          <a>Menu A</a>
        </li>
        <li>
          <a>Menu B</a>
        </li>
        <li class="right">
          <ul class="fd menu lowlight">
            <li class="section">
              <label class="fd icon-search inside">
                <input type="text" placeholder="" class="fd icon full">
              </label>
            </li>
            <li><a href="">Login</a></li>
          </ul>
        </li>
      </ul>
      <p class="fd hr"></p>
      <div class="fd menu ok s">
        <div class="item">
          <span>Home</span>
        </div>
        <div class="item active">
          <span>Menu A</span>
        </div>
        <div class="item disabled">
          <span>Menu B</span>
        </div>
        <div class="right">
          <div class="fd menu highlight">
            <div class="item section">
              <label class="fd icon-search inside">
                <input type="text" placeholder="" class="fd icon full">
              </label>
            </div>
            <div class="item"><a href="">Login</a></div>
          </div>
        </div>
      </div>
      <p class="fd hr"></p>
      <ul class="fd menu v warning m">
        <li>
          <a>Home</a>
        </li>
        <li class="disabled">
          <a>Menu A</a>
        </li>
        <li class="active">
          <a>Menu B</a>
        </li>
        <li class="section">
          <label class="fd icon-search inside">
            <input type="text" placeholder="" class="fd icon full">
          </label>
        </li>
        <li><a href="">Login</a></li>
      </ul>
      <p class="fd hr"></p>
      <div class="fd menu v danger l full">
        <div class="item active">
          <a>Home</a>
        </div>
        <div class="item disabled">
          <span>Menu A</span>
        </div>
        <div class="item">
          <span>Menu B</span>
        </div>
        <div class="item section">
          <label class="fd icon-search inside">
            <input type="text" placeholder="" class="fd icon full">
          </label>
        </div>
        <div class="item"><a href="">Login</a></div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
</section>
<section class="fd">
  <h3 class="hr">Multiple Level</h3>
  <div class="fd docs">
    <div class="usage">
      <code>.menu &gt; li.dropdown / .item.dropdown</code>
    </div>
    <div class="example" style="height: 13em;">
      <div class="fd menu info">
        <div class="item active"><a href="">Home</a></div>
        <div class="item"><a href="">Menu Item</a></div>
        <div class="item"><a href="">Menu Item</a></div>
        <div class="item dropdown">
          <a href="" class="fd icon-angle-down after">More</a>
          <ul class="fd menu v">
            <li><a href="">More</a></li>
            <li class="dropdown">
              <a href="" class="fd icon-angle-right after">Choose One</a>
              <div class="fd menu v">
                <div class="item"><a href="">More</a></div>
                <div class="item"><a href="">And</a></div>
                <div class="item"><a href="">Menu Item</a></div>
              </div>
            </li>
            <li><a href="">Remove</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
