<section class="fd">
  <h3 class="divider">Menu</h3>
  <div class="fd docs">
    <p>A menu</p>
    <div class="tag">
      <code>.menu</code>
    </div>
    <div class="usage">
      <code>.menu.fd</code> or <code>.fd &gt; .menu</code>
    </div>
    <div class="example">
      <div class="fd menu">
        <a class="item active">Home</a>
        <a class="item">Messages</a>
        <a class="item">Messages</a>
        <div class="right menu">
          <div class="fd form-icon">
            <input type="text" class="fd icon" placeholder="">
            <i class="icon-search"></i>
          </div>
          <a class="item">Login</a>
        </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>
   <section class="fd">
  <h3 class="divider">Menu w/Sub Menus</h3>
  <div class="fd docs">
    <div class="example">
      <div class="fd menu">
        <a class="item active">Home</a>
        <a class="item">Messages</a>
        <a class="item">Messages</a>
        <div class="fd dropdown item">
          More <i class="icon-angle-down"></i>
          <div class="menu vertical">
            <a class="item">Add</a>
            <div class="item active">
              Choose Language
              <i class="fd icon-angle-right"></i>
              <div class="fd dropdown menu">
                <a class="item">Add</a>
                <a class="item">Remove</a>
                <a class="item">Messages</a>
              </div>
            </div>
            <a class="item">Remove</a>
          </div>
          </div>
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>
 <section class="fd">
  <h3 class="divider">Vertical Menu</h3>
  <div class="fd docs">
    <p>A vertical menu displays elements vertically..</p>
    <div class="example">
      <div class="fd vertical menu">
        <a class="item active">Home</a>
        <a class="item">Messages</a>
        <a class="item">Messages</a>
        <div class="item">
          <div class="fd form-icon">
            <input type="text" class="fd icon" placeholder="">
            <i class="icon-search"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>
 <section class="fd">
  <h3 class="divider">Vertical Menu w/Sub Menus</h3>
  <div class="fd docs">
    <div class="example">
      <div class="fd vertical menu">
        <div class="item">
          Home
          <div class="menu">
            <a class="active item">Search</a>
            <a class="item">Add</a>
            <a class="item">Remove</a>
          </div>
        </div>
        <a class="item">Messages</a>
        <a class="item">Messages</a>
        <div class="fd dropdown item">
          More <i class="icon-angle-right"></i>
          <div class="menu">
            <a class="item">Add</a>
            <div class="item active">
              Choose Language
              <i class="fd icon-angle-right"></i>
              <div class="fd dropdown menu">
                <a class="item">Add</a>
                <a class="item">Remove</a>
              </div>
            </div>
            <a class="item">Remove</a>
          </div>
          </div>
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
   </div>
 </section>