<section class="fd">
  <h3 class="hr">Modal</h3>
  <div class="fd docs">
    <p>A base modal</p>
    <div class="tag">
      <code>.modal</code>
    </div>
    <div class="usage">
      <code>.modal.fd</code> or <code>.fd &gt; .modal</code>
    </div>
    <div class="example">
        <div class="fd modal">
          <i class="close">X</i>
          <div class="header">Changing Your Thing</div>
          <div class="content">Do you want to change that thing to something else?</div>
          <div class="actions"><span class="fd button info">Close</span></div>
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Standard Modal</h3>
  <div class="fd docs">
    <p>A standard modal</p>
    <div class="tag">
      <code>.modal</code>
    </div>
    <div class="usage">
      <code>.modal.fd</code> or <code>.fd &gt; .modal</code>
    </div>
    <div class="example">
        <div class="fd modal">
          <i class="close">X</i>
          <div class="header">Changing Your Thing</div>
          <div class="content">
            <div class="left"><img class="fd s" src="https://www.google.com.hk/images/srpr/logo11w.png"></div>
            <div class="right">
              <div class="header">Are you sure you want to upload that?</div>
              <p>I mean it's not really the best profile photo.</p>
              <p>It's resampled to like two times the size it's suppose to be. Our image detection software also says it might even be inappropriate.</p>
            </div>
          </div>
          <div class="actions"><span class="fd button info">Close</span></div>
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>



