<section class="fd">
  <h3 class="hr">Popup</h3>
  <div class="fd docs">
    <p>A Popup</p>
    <div class="tag">
      <code>.popup</code>
    </div>
    <div class="usage">
      <code>.popup.fd</code> or <code>.fd &gt; .popup</code>
    </div>
    <p><code>.bottoms</code> <code>.centers</code></p>
    <div class="example">
        <div class="fd popup bottoms centers">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.bottoms</code> <code>.lefts</code></p>
    <div class="example">
        <div class="fd popup bottoms lefts">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.bottoms</code> <code>.rights</code></p>
    <div class="example">
        <div class="fd popup bottoms rights">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.tops</code> <code>.centers</code></p>
    <div class="example">
        <div class="fd popup tops centers">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.tops</code> <code>.lefts</code></p>
    <div class="example">
        <div class="fd popup tops lefts">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.tops</code> <code>.rights</code></p>
    <div class="example">
        <div class="fd popup tops rights">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Different Color</h3>
  <div class="fd docs">
    <div class="usage">
      <code>.ok</code>
    </div>
    <div class="example">
        <div class="fd popup tops centers ok">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <div class="usage">
      <code>.warning</code>
    </div>
    <div class="example">
        <div class="fd popup tops centers warning">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <div class="usage">
      <code>.danger</code>
    </div>
    <div class="example">
        <div class="fd popup tops centers danger">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Different Size</h3>
  <div class="fd docs">
    <div class="usage">
      <code>.s</code>
    </div>
    <div class="example">
        <div class="fd popup tops centers s">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <div class="usage">
      <code>.l</code>
    </div>
    <div class="example">
        <div class="fd popup tops centers l">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>


