<section class="fd">
  <h3 class="divider">Popup</h3>
  <div class="fd docs">
    <p>A Popup</p>
    <div class="tag">
      <code>.popup</code>
    </div>
    <div class="usage">
      <code>.popup.fd</code> or <code>.fd &gt; .popup</code>
    </div>
    <p><code>.bottom</code> <code>.center</code></p>
    <div class="example">
        <div class="fd popup bottom center">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.bottom</code> <code>.left</code></p>
    <div class="example">
        <div class="fd popup bottom left">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.bottom</code> <code>.right</code></p>
    <div class="example">
        <div class="fd popup bottom right">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.top</code> <code>.center</code></p>
    <div class="example">
        <div class="fd popup top center">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.top</code> <code>.left</code></p>
    <div class="example">
        <div class="fd popup top left">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <p><code>.top</code> <code>.right</code></p>
    <div class="example">
        <div class="fd popup top right">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Different Color</h3>
  <div class="fd docs">
    <div class="usage">
      <code>.ok</code>
    </div>
    <div class="example">
        <div class="fd popup top center ok">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <div class="usage">
      <code>.warning</code>
    </div>
    <div class="example">
        <div class="fd popup top center warning">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <div class="usage">
      <code>.danger</code>
    </div>
    <div class="example">
        <div class="fd popup top center danger">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Different Size</h3>
  <div class="fd docs">
    <div class="usage">
      <code>.s</code>
    </div>
    <div class="example">
        <div class="fd popup top center s">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
    <div class="usage">
      <code>.l</code>
    </div>
    <div class="example">
        <div class="fd popup top center l">
          I'm a popup
        </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>


