<section class="fd">
  <h3 class="hr">Progress Bar</h3>
  <div class="fd docs">
    <p>A standard progress bar</p>
    <div class="tag">
      <code>.progress</code>
    </div>
    <div class="usage">
      <code>.progress.fd</code> or <code>.fd &gt; .progress</code>
    </div>
    <div class="example">
      <div class="fd progress">
        <div class="progress-bar"></div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">States</h3>
  <div class="fd docs">
    <b>Active</b>
    <p>A progress bar can show activity</p>
    <p><code>.active</code></p>
    <div class="example">
      <div class="fd progress active">
        <div class="progress-bar"></div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
  <div class="fd docs">
    <b>Size modifiers</b>
    <p><code>.xs</code> <code>.s</code></p>
    <div class="example">
          <div class="fd progress xs">
             <div class="progress-bar"></div>
          </div>
          <div class="fd progress s">
             <div class="progress-bar"></div>
          </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
   <div class="fd docs">
    <b>Color modifiers</b>
    <p><code>.ok</code> <code>.warning</code> <code>.danger</code></p>
    <div class="example">
          <div class="fd progress ok">
             <div class="progress-bar"></div>
          </div>
          <div class="fd progress warning">
             <div class="progress-bar"></div>
          </div>
          <div class="fd progress danger">
             <div class="progress-bar"></div>
          </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Striped</h3>
  <div class="fd docs">
    <p>A progress bar can be striped</p>
    <div class="tag">
      <code>.striped</code>
    </div>
    <div class="example">
      <div class="fd progress striped">
        <div class="progress-bar"></div>
      </div>
      <p>You can even animate the striped bar. To do so, just add the <code>.active</code> class.</p>
      <div class="fd progress active striped">
        <div class="progress-bar"></div>
      </div>
      <div class="fd progress striped-active striped no">
        <div class="progress-bar" style="width:60%"></div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
