<section class="fd">
  <h3 class="divider">Standard</h3>
  <div class="fd docs">
    <p>Step</p>
    <div class="tag">
      <code>.step</code>
    </div>
    <div class="usage">
      <code>.step.fd</code> or <code>.fd &gt; .step</code>
    </div>
    <div class="example">
      <div class="fd steps">
        <div class="fd step">
          Shipping
        </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Groups</h3>
  <div class="fd docs">
    <p>Steps</p>
    <div class="tag">
      <code>.steps</code>
    </div>
    <div class="usage">
      <code>.steps.fd</code> or <code>.fd &gt; .steps</code>
    </div>

    <div class="example">
      <div class="fd steps">
        <div class="before step"> Shipping </div>
        <div class="before step"> Billing </div>
        <div class="active step"> Confirm Order </div>
        <div class="disabled step"> Complete </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Vertical</h3>
  <div class="fd docs">
    <p>Vertical steps display each step stacked vertically</p>
    <div class="example">
      <div class="fd vertical steps">
        <div class="fd before step"> Shipping </div>
        <div class="fd before step"> Billing </div>
        <div class="fd active step"> Confirm Order </div>
        <div class="fd disabled step"> Complete </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Variations</h3>
  <div class="fd docs">
    <b>Size</b>
    <p>Steps can have different sizes</p>
    <div class="example">
      <div class="fd steps large">
        <div class="before step"> Shipping </div>
        <div class="before step"> Billing </div>
        <div class="active step"> Confirm Order </div>
        <div class="disabled step"> Complete </div>
      </div>
      <br />
      <br />
      <div class="fd steps">
        <div class="before step"> Shipping </div>
        <div class="before step"> Billing </div>
        <div class="active step"> Confirm Order </div>
        <div class="disabled step"> Complete </div>
      </div>
      <br />
      <br />
      <div class="fd steps small">
        <div class="before step"> Shipping </div>
        <div class="before step"> Billing </div>
        <div class="active step"> Confirm Order </div>
        <div class="disabled step"> Complete </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Step</h3>
  <div class="fd docs">
    <p>Steps can be divided evenly inside their parent</p>
    <div class="example">
      <div class="fd steps">
        <div class="fd active step"> Shipping </div>
        <div class="fd disabled step"> Billing </div>
        <div class="fd disabled step"> Confirm Order </div>
        <div class="fd disabled step"> Complete </div>
        <div class="fd disabled step"> Food </div>
      </div>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
