<section class="fd">
  <h3 class="divider">Headings</h3>
  <div class="fd docs">
    <dl>
      <dt>Tag</dt>
      <dd><code>h1</code> - <code>h6</code> or <em class="lowlight">inline tags</em></dd>
      <dt>Usage</dt>
      <dd>Your Headings.</dd>
    </dl>
    <div class="usage">
      Your Headings.
    </div>
    <div class="fd">
      <section>
        <dl class="fd">
          <dt>base headings</dt>
          <dd><code>.h1</code> - <code>.h6</code></dd>
        </dl>
        <div class="example">
          <h1 class="fd">h1</h1>
          <div class="fd h2">h2</div>
          <p class="fd h3">h3</p>
          <p class="fd">
            <span class="h4">h4</span>
          </p>
          <h5 class="fd">h5</h5>
          <span class="fd h6">h6</span>
        </div>
        <div class="markup" fd-code hljs language="html" source="code"></div>
      </section>
    </div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Sub Headings</h3>
  <div class="fd">
    <dl>
      <dt>Tag</dt>
      <dd>
        <code>h2</code> - <code>h6</code> or <em class="lowlight">inline tags</em>
      </dd>
      <dt>Class</dt>
      <dd><code>.sub</code> or <code>.h*.sub</code></dd>
      <dt>Usage</dt>
      <dd>Sub headings.</dd>
    </dl>
    <div class="fd examples">
      <h2 class="sub">sub h2</h2>
      <h3 class="sub">sub h3</h3>
      <h4 class="sub">sub h4</h4>
      <h5 class="sub">sub h5</h5>
      <h6 class="sub">sub h6</h6>
    </div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Link</h3>
  <div class="fd">
    <p>Standard link with tag <code>a</code></p>
    <div class="examples">
      <a href="#">A Link</a>
    </div>
  </div>
</section>
<section class="fd">
  <h3 class="divider">Paragraph</h3>
  <div class="fd">
    <p>Paragraph content with tag <code>p</code></p>
    <div class="examples">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
  </div>
</section>