<section class="fd">
  <h3 class="hr">Headings</h3>
  <div class="docs">
    <p>Your Headings.</p>
    <div class="tag">
      <code>h1</code> - <code>h6</code> or <em class="fd lowlight">any one you like</em>
    </div>
    <div class="usage">
      <ul class="fd">
        <li>
          <code>h1.fd</code> - <code>h6.fd</code>
        </li>
        <li>
          <code>.fd &gt; h1</code> - <code>.fd &gt; h6</code>
        </li>
        <li>
          <code>.fd.h1</code> - <code>.fd.h6</code>
        </li>
        <li>
          <code>.fd &gt; .h1</code> - <code>.fd &gt; .h6</code>
        </li>
      </ul>
    </div>
    <div class="example">
      <h1 class="fd">Heading h1</h1>
      <div class="fd h2">Heading h2</div>
      <p class="fd h3">Heading h3</p>
      <p class="fd">
        <span class="h4">Heading h4</span>
      </p>
      <h5 class="fd">Heading h5</h5>
      <span class="fd h6">Heading h6</span>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Sub Headings</h3>
  <div class="docs">
    <div class="tag">
      <code>h2</code> - <code>h6</code> or <em class="fd lowlight">any one you like</em>
    </div>
    <div class="usage">
      <ul class="fd">
        <li>
          <code>h2.fd.sub</code> - <code>h6.fd.sub</code>
        </li>
        <li>
          <code>.fd &gt; h2.sub</code> - <code>.fd &gt; h6.sub</code>
        </li>
        <li>
          <code>.fd.h2.sub</code> - <code>.fd.h6.sub</code>
        </li>
        <li>
          <code>.fd &gt; .h2.sub</code> - <code>.fd &gt; .h6.sub</code>
        </li>
      </ul>
    </div>
    <div class="example">
      <hgroup class="fd">
        <h1>Heading</h1>
        <h2 class="sub">Sub Heading</h2>
      </hgroup>
      <h2 class="fd sub">sub h2</h2>
      <div class="fd h3 sub">sub h3</div>
      <p class="fd h4 sub">sub h4</p>
      <p class="fd">
        <span class="h5 sub">sub h5</span>
      </p>
      <span class="fd h6 sub">sub h6</span>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Link</h3>
  <div class="docs">
    <p>Standard link with tag <code>a</code></p>
    <div class="example">
      <a href="#">A Link</a>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Paragraph</h3>
  <div class="docs">
    <p>Paragraph content with tag <code>p</code></p>
    <div class="example">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Formatting</h3>
  <div class="docs">
    <div class="tag">
      <code>strong</code> <code>mark</code> <code>dfn:lang(zh)</code> <code>cite:lang(zh)</code> <code>blockquote</code> <code>address</code>
    </div>
    <div class="example">
      <p>
        <strong>strong text</strong>
      </p>
      <p>
        <mark>marked text</mark>
      </p>
      <p>
        <dfn>definition term</dfn> and <dfn lang="zh-Hans">专有名词</dfn>
      </p>
      <p>
        <cite>The Shawshank Redemption</cite>, <cite lang="zh-Hant">三國志</cite>
      </p>
      <blockquote cite="http://www.americanrhetoric.com/speeches/mlkihaveadream.htm">I have a dream that one day this nation will rise up and live out the true meaning of its creed: "We hold these truths to be self-evident, that all men are created equal."</blockquote>
      <address>
        Code by Fondant<br>
        Email: abc@example.com
      </address>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Computer</h3>
  <div class="docs">
    <div class="tag">
      <code>code</code> <code>samp</code> <code>kbd</code>
    </div>
    <div class="sample">
      <p>
        <code>echo "Hello World!";</code>
      </p>
      <p>
        <samp>Hello World!</samp>
      </p>
      <p>
        <kbd>&#8984; Cmd</kbd> <kbd>&#9095; Alt</kbd> <kbd>&#8997; Opt</kbd> <kbd>&#8679; Shift</kbd> <kbd>^ Ctrl</kbd>
      </p>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Colorful Text</h3>
  <div class="docs">
    <div class="tag">
      <code>ANY</code>
    </div>
    <div class="usage">
      <ul class="fd">
        <li><span class="fd h6">6 sizes:</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <ul class="fd">
        <li>default text color</li>
        <li class="lowlight s">lowlight text color</li>
        <li class="highlight">highlight text color</li>
        <li class="ok m">ok text color</li>
        <li class="warning l">warning text color</li>
        <li class="danger xl">danger text color</li>
        <li class="info xxl">info text color</li>
      </ul>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Colorful badge</h3>
  <div class="docs">
    <div class="usage">
      <ul class="fd">
        <li><code>.fd.label</code> or <code>.fd > .label</code></li>
        <li><span class="fd h6">6 sizes:</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <ul class="fd">
        <li><span class="fd label s">default label</span></li>
        <li><span class="fd label lowlight m">lowlight label</span></li>
        <li><span class="fd label highlight">highlight label</span></li>
        <li><span class="fd label ok l">ok label</span></li>
        <li class="fd"><span class="label warning xl">warning label</span></li>
        <li class="fd"><span class="label danger xxl">danger label</span></li>
        <li class="fd"><span class="label info">info label</span></li>
      </ul>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>
<section class="fd">
  <h3 class="hr">Colorful Badge</h3>
  <div class="docs">
    <div class="usage">
      <ul class="fd">
        <li><code>.fd.badge</code> or <code>.fd > .badge</code></li>
        <li><span class="fd h6">6 sizes:</span> <code>.s</code> default <code>.m</code> <code>.l</code> <code>.xl</code> <code>.xxl</code></li>
        <li><span class="fd h6">7 colors :</span> default <code>.lowlight</code> <code>.highlight</code> <code>.ok</code> <code>.warning</code> <code>.danger</code> <code>.info</code></li>
      </ul>
    </div>
    <div class="example">
      <ul class="fd">
        <li><span class="fd badge s">s</span></li>
        <li><span class="fd badge lowlight m">m</span></li>
        <li><span class="fd badge highlight">11</span></li>
        <li><span class="fd badge ok l">ok</span></li>
        <li class="fd"><span class="badge warning xl">2</span></li>
        <li class="fd"><span class="badge danger xxl">!</span></li>
        <li class="fd"><span class="badge info">?</span></li>
      </ul>
    </div>
    <div class="markup" fd-code hljs language="html" source="code"></div>
  </div>
</section>