<div class="fd cross">
  <div class="mid row">
    <span class="fd h1 col three" ng-bind="category | uppercase"></span>
    <span class="fd h2 sub col nine" ng-bind="detail | uppercase"></span>
  </div>
</div>
<div class="fd mid row">
  <aside class="col">
    <section ng-repeat="(sort, detail) in data">
      <h3>{{sort}}</h3>
      <ul>
        <li ng-repeat="item in detail"><a href="/docs/css/{{item | lowercase}}">{{item}}</a></li>
      </ul>
    </section>
  </aside>
  <article class="col">
    <div ng-include="include"></div>
  </article>
</div>